<template>
  <div class="debug debug--panel" :class="[{ 'show' : debugEnabled }]">
      <pre v-html="state"></pre>
  </div>
</template>

<script>
export default {
  name: "Debug",
  computed: {
    debugEnabled() {
      return this.$store.state.debug;
    },
    state() {
      return this.$store.state;
    }
  }
};
</script>

<style lang="scss">
.debug--panel {
  position: fixed;
  z-index: 10;
  right: 0;
  bottom: 300px;
  top: 0;
  width: 300px;
  overflow-y: auto;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px 20px;
}
</style>