<template>
  <header class="header navbar navbar-dark bg-dark"  v-if="$route.meta && $route.meta.generator !== true">
    <div class="container">
      <div class="cols align-center">
        <div class="header__logo">
          <router-link :to="{ name: 'home' }" class="brand">
            <img src="@/assets/images/logo.png" :alt="$t('headerTitle')" id="logo">
          </router-link>
        </div>
        <div class="header__headline">
          <router-link :to="{ name: 'home' }">
            <h1 v-html="$t('headerHeadline')"></h1>
          </router-link>
        </div>
        <div>
        </div>
      </div>
    </div>
  </header>
</template>

<style lang="scss">
@import "@/assets/styles/variables";

$header-height: 70px;

.header {
  background: $dark;
  color: $white;

  img {
    display: block;
  }

  h1 {
    margin: 0;
  }

  a {
    color: $white;
    text-decoration: none;
  }

  .cols {
    height: $header-height;

    @media (max-width: $screen-xs-max) {
      height: auto;
      flex-direction: column;
      justify-content: center;
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }
}

.header__logo {
  max-width: 90px;
}
.header__logo,
.header__headline {
  cursor: pointer;
}
</style>