<template>
  <div class="summary bg-dark"
  :class="[`step-${$route.meta.step}`]"
     v-if="$route.meta && $route.meta.generator !== true">
    <div class="container">
      <div class="cols">
        <div class="summary__actions self-center hidden-xs"
        v-if="$route.meta.step !== 1 && $route.meta.step !== 6">
          <button
          @click="prev"
          class="btn btn--primary btn--arrow btn--back"
          :class="[{ 'disabled' : !isEligiblePrev }]"
          v-html="$t('stepNum', { number: $route.meta.step - 1 })">
          </button>
        </div>
        <div v-if="$route.meta.step !== 6">
          <h3 v-html="title"></h3>
          <p v-if="selected === null">Zatím nevybrány žádné parametry</p>
          <div v-if="selected !== null" class="variation__spec">
            <p class="variation__property">
              <label class="variation__label" v-html="$t('summaryLabelName')"></label>
              <span class="variation__value">{{ selected.type }}</span>
            </p>
            <p class="variation__property">
              <label class="variation__label" v-html="$t('summaryLabelWidth')"></label>
              <span class="variation__value">{{ width }}</span>
            </p>
            <p class="variation__property">
              <label class="variation__label" v-html="$t('summaryLabelHeight')"></label>
              <span class="variation__value">{{ height }}</span>
            </p>
            <p class="variation__property"
              :class="[{ 'invisible' : !hasOrientation(variation) }]">
              <label class="variation__label" v-html="$t('summaryLabelOrientation')"></label>
              <span class="variation__value" v-html="$t(`summary.value.${orientation}`)"></span>
            </p>
          </div>
        </div>
        <div v-if="$route.meta.step !== 6">
          <h3 v-html="'&nbsp;'"></h3>
          <div class="variation__spec">
            <div v-if="profile !== null">
              <p class="variation__property" v-if="profile && profile.name">
                <label class="variation__label" v-html="$t('profileLabel')"></label>
                <span class="variation__value">{{ profile.name }}</span>
              </p>
            </div>
            <div v-if="faces('front') !== null">
              <p class="variation__property" v-if="faces('front') && faces('front').name">
                <label class="variation__label" v-html="$t(`color.label.front`)"></label>
                <span class="variation__value">{{ faces('front').name }}</span>
              </p>
            </div>
            <div v-if="faces('back') !== null">
              <p class="variation__property" v-if="faces('back') && faces('back').name">
                <label class="variation__label" v-html="$t(`color.label.back`)"></label>
                <span class="variation__value">{{ faces('back').name }}</span>
              </p>
            </div>
            <div v-if="glass !== null">
              <p class="variation__property" v-if="glass && glass.name">
                <label class="variation__label" v-html="$t('glassLabel')"></label>
                <span class="variation__value">{{ glass.name }}</span>
              </p>
            </div>
          </div>
        </div>
        <div v-if="$route.meta.step !== 6">
          <h3 v-html="'&nbsp;'"></h3>
          <div class="variation__spec">
            <div v-for="(accessory, accessoryType) in accessories"
            v-bind:key="accessoryType">
              <p class="variation__property" v-if="accessory && accessory.color && !(accessoryType === 'handle' && !hasHandle(variation))">
                <label class="variation__label"
                v-html="$t(`accessories.shorts.${accessoryType}`)"></label>
                <span class="variation__value"
                v-if="(accessoryType === 'inner' || accessoryType === 'outer')
                && accessory && accessory.length && accessory.depth">
                {{ accessory.length }} &times; {{ accessory.depth }}, </span>
                <span class="variation__value">{{ accessory.color.name }}</span>
              </p>
            </div>
          </div>
        </div>
        <div v-if="$route.meta.step === 6"></div>
        <div class="summary__conclusion">
          <div class="cols align-center">
            <div class="text-right">
              <p>Cena výrobku bez DPH:</p>
              <p>DPH 21%:</p>
              <p>Cena výrobku s DPH:</p>
            </div>
            <div class="summary__prices text-right" v-if="$route.meta.step !== 6">
              <p>
                <strong
                v-if="selected && selected.price"
                v-html="currencyFormat(fullPrice)">
                </strong>
                <strong v-else
                v-html="currencyFormat(0)"></strong>
              </p>
              <p>
                <strong
                v-if="selected && selected.price"
                v-html="currencyFormat(countVat(fullPrice))">
                </strong>
                <strong v-else
                v-html="currencyFormat(0)"></strong>
              </p>
              <p>
                <strong
                v-if="selected && selected.price"
                v-html="currencyFormat(countWithVat(fullPrice))">
                </strong>
                <strong v-else
                v-html="currencyFormat(0)"></strong>
              </p>
            </div>
            <div class="summary__prices text-right" v-else>
              <p>
                <strong
                v-if="selected && selected.price"
                v-html="currencyFormat(fullCartPrice)">
                </strong>
                <strong v-else
                v-html="currencyFormat(0)"></strong>
              </p>
              <p>
                <strong
                v-if="selected && selected.price"
                v-html="currencyFormat(countVat(fullCartPrice))">
                </strong>
                <strong v-else
                v-html="currencyFormat(0)"></strong>
              </p>
              <p>
                <strong
                v-if="selected && selected.price"
                v-html="currencyFormat(countWithVat(fullCartPrice))">
                </strong>
                <strong v-else
                v-html="currencyFormat(0)"></strong>
              </p>
            </div>
            <div class="summary__actions">
              <button
              @click="prev"
              class="btn btn--primary btn--arrow btn--back visible-xs"
              :class="[{ 'disabled' : !isEligiblePrev }]"
              v-if="$route.meta.step !== 1 && $route.meta.step !== 6"
              v-html="$t('stepNum', { number: $route.meta.step - 1 })">
              </button>
              <button
              @click="next"
              class="btn btn--primary btn--arrow"
              :class="[{ 'disabled' : !isEligibleNext }]"
              v-if="$route.meta.step !== 6"
              v-html="$t('stepNum', { number: $route.meta.step + 1 })">
              </button>
              <button
              @click="order"
              class="btn btn--primary btn--arrow"
              v-else
              v-html="$t('orderButton')">
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>


<script>
import querystring from "querystring";
import { mapState } from "vuex";
import { createHelpers } from "vuex-map-fields";

const { mapFields } = createHelpers({
  getterType: "getCurrentCartField",
  mutationType: "updateCurrentCartField"
});

export default {
  name: "Summary",
  computed: {
    ...mapState({
      variationsLoaded: state => state.variations.loaded,
      variations: state => state.variations.variations
    }),
    ...mapFields("cart", [
      "size.width",
      "size.height",
      "variation",
      "orientation",
      "windowfaces",
      "accessories",
      "profile",
      "glass"
    ]),
    selected() {
      return this.variation;
    },
    isEligiblePrev() {
      return true;
    },
    isEligibleNext() {
      if (this.$route.meta.step === 1) {
        return (
          this.variation &&
          this.variation.height &&
          this.variation.width &&
          this.variation.type &&
          this.variation.price &&
          this.width &&
          this.height
        );
      } else if (this.$route.meta.step === 2) {
        return this.profile && this.profile.name;
      } else if (this.$route.meta.step === 3) {
        return this.faces("front") !== null && this.faces("back") !== null;
      } else if (this.$route.meta.step === 4) {
        return this.glass && this.glass.id;
      } else if (this.$route.meta.step === 5) {
        return true;
      }
      return false;
    }
  },
  data() {
    return {
      title: "Kalkulovaný výrobek",
      price: 0,
      vat: 0,
      priceVat: 0
    };
  },
  methods: {
    /*
    getFullPrice(basePrice) {
      if (this.profile && this.profile.price) {
        return (
          parseFloat(String(basePrice).replace(/,/, '.')) +
          parseFloat(String(this.profile.price).replace(/,/, '.'))
        );
      }
      return basePrice;
    },
    */
    faces(face) {
      return this.windowfaces[face];
    },
    prev() {
      if (this.$route.meta.step === 3) {
        this.$router.push({ name: "profile" });
      } else if (this.$route.meta.step === 2) {
        this.$router.push({ name: "home" });
      } else if (this.$route.meta.step === 4) {
        this.$router.push({ name: "color" });
      } else if (this.$route.meta.step === 5) {
        this.$router.push({ name: "glass" });
      } else if (this.$route.meta.step === 6) {
        this.$router.push({ name: "accessories" });
      }
    },
    next() {
      if (this.$route.meta.step === 1) {
        this.$router.push({ name: "profile" });
      } else if (this.$route.meta.step === 2) {
        this.$router.push({ name: "color" });
      } else if (this.$route.meta.step === 3) {
        this.$router.push({ name: "glass" });
      } else if (this.$route.meta.step === 4) {
        this.$router.push({ name: "accessories" });
      } else if (this.$route.meta.step === 5) {
        this.$router.push({ name: "order" });
      }
    },
    order() {
      const http = new XMLHttpRequest();
      // const url = "https://hook.integromat.com/fa3bh74drod3pptwq7yvyu8nks8f43jj";
      const url = "http://konfigadmin.rozklad.me/konfigmail";
      const data = {
        contents: JSON.stringify(this.$store.state.cart.contents)
      };
      http.open("POST", url, true);
      http.setRequestHeader(
        "Content-type",
        "application/x-www-form-urlencoded"
      );

      http.onreadystatechange = () => {
        if (http.readyState === 4 && http.status === 200) {
          alert(http.responseText); // eslint-disable-line
        }
      };
      http.send(querystring.stringify(data));
    }
  }
};
</script>

<style lang="scss">
@import "@/assets/styles/variables";

.summary {
  background: $dark;
  color: $white;
  padding: 20px 0;

  h3 {
    margin: 0;
    text-transform: uppercase;
  }

  @media (max-width: $screen-sm-max) {
    padding-left: 20px;
    padding-right: 20px;
  }

  & > .container > .cols {
    @media (max-width: $screen-sm-max) {
      flex-direction: column;
    }
  }
  & > .container > .cols .cols {
    @media (max-width: $screen-sm-max) {
      flex-wrap: wrap;
      width: 100%;
      & > *:nth-child(1),
      & > *:nth-child(2) {
        width: 40%;
      }
      & > .summary__actions {
        width: 100%;
        text-align: center;
        padding-top: 50px;
        padding-bottom: 20px;
      }
    }
  }
}

.wrapper > .summary {
  @media (max-width: $screen-sm-max) {
    max-height: 100vh;
  }
}

.summary__conclusion {
  max-width: 400px;
  @media (max-width: $screen-sm-max) {
    max-width: 100%;
  }
}

.summary__prices {
  padding-left: 50px;
}

.summary__actions {
  padding-left: 30px;
  @media (max-width: $screen-xs-max) {
    padding-left: 0;
  }
}

.variation__property {
  @include standard;
  margin-top: 2px;
  margin-bottom: 2px;
}

.variation__value {
  color: $blue;
}

.summary .variation__value {
  color: $blue;
  text-overflow: ellipsis;
  max-width: 150px;
  white-space: nowrap;
  overflow: hidden;
}

.variation__spec {
  margin-top: 12px;
}

.summary.step-6 {
  background: $white;
  color: $text;
  .summary__conclusion {
    max-width: 500px;
  }
}
</style>
