<template>
  <div class="container container-wizard">
    <canvas class="konfigurace"></canvas>
    <div class="textures">
      <img src="http://konfigadmin.rozklad.me/wizard/public/storage/colors/00_bila.png" class="bila">
      <img src="http://konfigadmin.rozklad.me/wizard/public/storage/colors/01_zlaty_dub.png" class="zlaty-dub">
      <img src="http://konfigadmin.rozklad.me/wizard/public/storage/colors/02_tmavy_dub.png" class="tmavy-dub">
      <img src="http://konfigadmin.rozklad.me/wizard/public/storage/colors/03_orech.png" class="orech">
      <img src="http://konfigadmin.rozklad.me/wizard/public/storage/colors/04_cokoladova.png" class="cokoladova">
      <img src="http://konfigadmin.rozklad.me/wizard/public/storage/colors/05_mahagon.png" class="mahagon">
      <img src="http://konfigadmin.rozklad.me/wizard/public/storage/colors/06_svetle_seda.png" class="svetle-seda">
      <img src="http://konfigadmin.rozklad.me/wizard/public/storage/colors/07_antracit.png" class="antracit">
      <img src="http://konfigadmin.rozklad.me/wizard/public/storage/colors/08_kremova.png" class="kremova">
      <img src="http://konfigadmin.rozklad.me/wizard/public/storage/colors/09_cervena.png" class="cervena">
      <img src="http://konfigadmin.rozklad.me/wizard/public/storage/colors/10_svetle_modra.png" class="svetle-modra">
      <img src="http://konfigadmin.rozklad.me/wizard/public/storage/colors/11_tmave_modra.png" class="tmave-modra">
      <img src="http://konfigadmin.rozklad.me/wizard/public/storage/colors/12_zelena.png" class="zelena">
      <img src="http://konfigadmin.rozklad.me/wizard/public/storage/colors/13_seda_hladka.png" class="seda-hladka">
      <img src="http://konfigadmin.rozklad.me/wizard/public/storage/colors/14_oregon.png" class="oregon">
      <img src="http://konfigadmin.rozklad.me/wizard/public/storage/colors/15_winchester.png" class="winchester">
      <img src="http://konfigadmin.rozklad.me/wizard/public/storage/colors/16_tresen.png" class="tresen">
      <img src="http://konfigadmin.rozklad.me/wizard/public/storage/colors/17_antracit_hladky.png" class="antracit-hladky">
    </div>
  </div>
</template>

<script>
export default {
  name: "Generator",
  mounted() {
    this.canvas = this.$el.querySelector(`.${this.canvasId}`);
    this.recountCanvasSize();
    this.ctx = this.canvas.getContext("2d");
    this.draw();
  },
  watch: {
    okna: {
      handler() {
        this.ctx.clearRect(0, 0, this.canvas.width, this.canvas.height);
        this.recountStartX();
        this.recountCanvasSize();
        this.draw();
      },
      deep: true
    }
  },
  methods: {
    recountStartX() {
      let startX = 0;
      /* eslint-disable */
      this.okna.forEach(element => {
        element.startX = startX;
        startX += element.sirka / 10;
      });
      /* eslint-enable */
    },
    recountCanvasSize() {
      let canvasWidth = 0;
      let canvasHeight = 0;
      this.okna.forEach(element => {
        canvasWidth += element.sirka / 10;
        if (element.vyska / 10 > canvasHeight) {
          canvasHeight = element.vyska / 10;
        }
      });
      this.canvas.width = canvasWidth;
      this.canvas.height = canvasHeight;
    },
    add() {
      this.okna.push({
        sirka_ramu: 14, // px
        startX: 100,
        startY: 0,
        sirka: 800, // mm
        vyska: 1800, // mm
        otvirani: {
          top: 1,
          right: 1,
          bottom: 0,
          left: 0
        },
        pocetMriziVertikalnich: 3,
        pocetMriziHorizontalnich: 2,
        sirkaMrizi: 4, // px
        sitka: 0, // 0/1
        zaluzie: 0, // 0/1
        pricka: 0 // 0/1
      });
    },
    draw() {
      let index = 0;
      this.okna.forEach(element => {
        this.drawSingle(element, index);
        index += 1;
      });
    },
    /* eslint-disable */
    drawSingle(element, index) {
      const sirka_vnejsiho_ramu = 14;

      // Override start X to respect position in sequence
      element.startX = (element.sirka / 10) * index;

      // Draw border
      this.ctx.fillStyle = this.colors.borderColor;
      this.ctx.fillRect(
        element.startX,
        element.startY,
        element.sirka / 10,
        element.vyska / 10
      );

      // Draw ram
      this.ctx.fillStyle = this.colors.ramColor;

      if (element.textureImage !== null) {
        Object.keys(this.textures).forEach(textureKey => {
          const currentTexture = this.textures[textureKey];
          if (currentTexture.src.indexOf(element.textureImage) !== -1) {
            element.texture = textureKey;
          }
        });
      }

      if (element.texture) {
        const img = this.$el.querySelector(
          `.${this.textures[element.texture].id}`
        );
        if (img !== null) {
          const pat = this.ctx.createPattern(img, "repeat");
          this.ctx.fillStyle = pat;
        }
      }

      this.ctx.fillRect(
        element.startX + 1,
        element.startY + 1,
        element.sirka / 10 - 2,
        element.vyska / 10 - 2
      );

      // Draw ram inner - outer borders
      this.ctx.fillStyle = this.colors.borderColor;
      this.ctx.fillRect(
        element.startX + 3,
        element.startY + 2.5,
        element.sirka / 10 - 6,
        0.5
      );

      this.ctx.fillStyle = this.colors.borderColor;
      this.ctx.fillRect(
        element.startX + 3,
        element.startY + element.vyska / 10 - 3,
        element.sirka / 10 - 6,
        0.5
      );

      this.ctx.fillStyle = this.colors.borderColor;
      this.ctx.fillRect(
        element.startX + 2.5,
        element.startY + 2.5,
        0.5,
        element.vyska / 10 - 6
      );

      this.ctx.fillStyle = this.colors.borderColor;
      this.ctx.fillRect(
        element.startX + element.sirka / 10 - 2.5,
        element.startY + 2.5,
        0.5,
        element.vyska / 10 - 6
      );

      // Draw ram inner - inner borders
      this.ctx.fillStyle = this.colors.borderColor;
      this.ctx.fillRect(
        element.startX + parseInt(element.sirka_ramu, 10) - 2,
        element.startY + parseInt(element.sirka_ramu, 10) - 2,
        element.sirka / 10 - parseInt(element.sirka_ramu, 10) * 2 + 4,
        0.5
      );

      this.ctx.fillStyle = this.colors.borderColor;
      this.ctx.fillRect(
        element.startX + parseInt(element.sirka_ramu, 10) - 2,
        element.startY +
          element.vyska / 10 -
          parseInt(element.sirka_ramu, 10) +
          1,
        element.sirka / 10 - parseInt(element.sirka_ramu, 10) * 2 + 4,
        0.5
      );

      this.ctx.fillStyle = this.colors.borderColor;
      this.ctx.fillRect(
        element.startX + parseInt(element.sirka_ramu, 10) - 2,
        element.startY + parseInt(element.sirka_ramu, 10) - 2,
        0.5,
        element.vyska / 10 - parseInt(element.sirka_ramu, 10) * 2 + 4
      );

      this.ctx.fillStyle = this.colors.borderColor;
      this.ctx.fillRect(
        element.startX +
          element.sirka / 10 -
          parseInt(element.sirka_ramu, 10) +
          1,
        element.startY + parseInt(element.sirka_ramu, 10) - 2,
        0.5,
        element.vyska / 10 - parseInt(element.sirka_ramu, 10) * 2 + 4
      );

      // Draw inner ram
      this.ctx.fillStyle = this.colors.borderColor;
      this.ctx.fillRect(
        element.startX + parseInt(element.sirka_ramu, 10) + sirka_vnejsiho_ramu,
        element.startY + parseInt(element.sirka_ramu, 10) + sirka_vnejsiho_ramu,
        element.sirka / 10 -
          parseInt(element.sirka_ramu, 10) * 2 -
          sirka_vnejsiho_ramu * 2,
        element.vyska / 10 -
          parseInt(element.sirka_ramu, 10) * 2 -
          sirka_vnejsiho_ramu * 2
      );

      // Draw glass
      this.ctx.fillStyle = this.colors.glassColor;
      this.ctx.fillRect(
        element.startX +
          parseInt(element.sirka_ramu, 10) +
          sirka_vnejsiho_ramu +
          1,
        element.startY +
          parseInt(element.sirka_ramu, 10) +
          sirka_vnejsiho_ramu +
          1,
        element.sirka / 10 -
          parseInt(element.sirka_ramu, 10) -
          sirka_vnejsiho_ramu * 3 -
          2,
        element.vyska / 10 -
          parseInt(element.sirka_ramu, 10) -
          sirka_vnejsiho_ramu * 3 -
          2
      );

      // Draw klika border
      this.ctx.fillStyle = this.colors.borderColor;
      let sirkaKliky = parseInt(element.sirka_ramu, 10) / 2;
      /* let vyskaKliky = element.vyska / 10 / 5;
      if (element.sirka > element.vyska) {
        vyskaKliky = element.vyska / 10 / 3;
      } */
      let vyskaKliky = 20;

      let klikaX = 0;
      let klikaY = 0;

      // Pouze vyklopne
      if (
        element.otvirani.top &&
        !element.otvirani.left &&
        !element.otvirani.right &&
        !element.otvirani.right
      ) {
        sirkaKliky = 20;
        vyskaKliky = sirka_vnejsiho_ramu / 2;
        klikaX = element.sirka / 10 / 2 - sirkaKliky / 2;
        klikaY = sirka_vnejsiho_ramu + element.sirka_ramu / 4;
      } else if (element.otvirani.right) {
        klikaX =
          element.startX +
          (element.sirka / 10 - parseInt(element.sirka_ramu, 10)) +
          parseInt(element.sirka_ramu, 10) / 4 -
          sirka_vnejsiho_ramu;
        klikaY =
          element.startY +
          element.vyska / 10 / 2 -
          vyskaKliky / 2 -
          sirka_vnejsiho_ramu / 4;
      } else if (
        element.otvirani.left ||
        (element.otvirani.bottom && !element.otvirani.right)
      ) {
        klikaX =
          element.startX +
          parseInt(element.sirka_ramu, 10) / 4 +
          sirka_vnejsiho_ramu;
        klikaY =
          element.startY +
          element.vyska / 10 / 2 -
          vyskaKliky / 2 -
          sirka_vnejsiho_ramu / 4;
      }

      if (
        element.otvirani.right ||
        element.otvirani.top ||
        element.otvirani.left ||
        element.otvirani.bottom
      ) {
        this.ctx.fillRect(klikaX, klikaY, sirkaKliky, vyskaKliky);

        // Draw klika
        this.ctx.fillStyle = this.colors.ramColor;
        this.ctx.fillRect(
          klikaX + 1,
          klikaY + 1,
          sirkaKliky - 2,
          vyskaKliky - 2
        );
      }

      // Draw mrize
      const glassStartX =
        element.startX +
        parseInt(element.sirka_ramu, 10) +
        sirka_vnejsiho_ramu +
        1;
      const glassStartY =
        element.startY +
        parseInt(element.sirka_ramu, 10) +
        sirka_vnejsiho_ramu +
        1;
      const glassWidth =
        element.sirka / 10 -
        parseInt(element.sirka_ramu, 10) * 2 -
        sirka_vnejsiho_ramu * 2 -
        2;
      const glassHeight =
        element.vyska / 10 -
        parseInt(element.sirka_ramu, 10) * 2 -
        sirka_vnejsiho_ramu * 2 -
        2;
      this.ctx.fillStyle = this.colors.mrizeColor;
      if (element.pocetMriziVertikalnich > 0) {
        const segmentWidth = glassWidth / element.pocetMriziVertikalnich;
        for (let i = 0; i < element.pocetMriziVertikalnich; i++) {
          const mrizePoziceX =
            glassStartX +
            segmentWidth * i +
            segmentWidth / 2 -
            element.sirkaMrizi / 2;

          this.ctx.fillRect(
            mrizePoziceX,
            glassStartY,
            element.sirkaMrizi,
            glassHeight
          );
        }
      }

      if (element.pocetMriziHorizontalnich > 0) {
        const segmentHeight = glassHeight / element.pocetMriziHorizontalnich;
        for (let i = 0; i < element.pocetMriziHorizontalnich; i++) {
          const mrizePoziceY =
            glassStartY +
            segmentHeight * i +
            segmentHeight / 2 -
            element.sirkaMrizi / 2;

          this.ctx.fillRect(
            glassStartX,
            mrizePoziceY,
            glassWidth,
            element.sirkaMrizi
          );
        }
      }

      // Draw smer otevirani
      // Right
      if (parseInt(element.otvirani.right, 10)) {
        this.ctx.beginPath();
        this.ctx.strokeStyle = this.colors.borderColor;
        this.ctx.lineWidth = 0.5;
        this.ctx.moveTo(glassStartX, glassStartY);
        this.ctx.lineTo(
          glassStartX + glassWidth,
          glassStartY + glassHeight / 2
        );
        this.ctx.lineTo(glassStartX, glassStartY + glassHeight);
        this.ctx.stroke();
      }

      // Top
      if (parseInt(element.otvirani.top, 10)) {
        this.ctx.beginPath();
        this.ctx.strokeStyle = this.colors.borderColor;
        this.ctx.lineWidth = 0.5;
        this.ctx.moveTo(glassStartX, glassStartY + glassHeight);
        this.ctx.lineTo(glassStartX + glassWidth / 2, glassStartY);
        this.ctx.lineTo(glassStartX + glassWidth, glassStartY + glassHeight);
        this.ctx.stroke();
      }

      // Left
      if (parseInt(element.otvirani.left, 10)) {
        this.ctx.beginPath();
        this.ctx.strokeStyle = this.colors.borderColor;
        this.ctx.lineWidth = 0.5;
        this.ctx.moveTo(glassStartX + glassWidth, glassStartY);
        this.ctx.lineTo(glassStartX, glassStartY + glassHeight / 2);
        this.ctx.lineTo(glassStartX + glassWidth, glassStartY + glassHeight);
        this.ctx.stroke();
      }

      // Bottom
      if (parseInt(element.otvirani.bottom, 10)) {
        this.ctx.beginPath();
        this.ctx.strokeStyle = this.colors.borderColor;
        this.ctx.lineWidth = 0.5;
        this.ctx.moveTo(glassStartX, glassStartY);
        this.ctx.lineTo(
          glassStartX + glassWidth / 2,
          glassStartY + glassHeight
        );
        this.ctx.lineTo(glassStartX + glassWidth, glassStartY);
        this.ctx.stroke();
      }

      // Draw panty
      if (parseInt(element.otvirani.left, 10)) {
        const pantW = sirkaKliky / 1.75;
        const pantH = vyskaKliky / 2;
        const pantX = element.sirka / 10 - sirka_vnejsiho_ramu;
        const pantY = sirka_vnejsiho_ramu * 3;
        const pant2Y = element.vyska / 10 - sirka_vnejsiho_ramu * 3;
        // pant 1
        this.ctx.fillStyle = this.colors.borderColor;
        this.ctx.fillRect(pantX, pantY, pantW, pantH);
        this.ctx.fillStyle = this.colors.ramColor;
        this.ctx.fillRect(pantX + 1, pantY + 1, pantW - 2, pantH - 2);
        // pant 2
        this.ctx.fillStyle = this.colors.borderColor;
        this.ctx.fillRect(pantX, pant2Y, pantW, pantH);
        this.ctx.fillStyle = this.colors.ramColor;
        this.ctx.fillRect(pantX + 1, pant2Y + 1, pantW - 2, pantH - 2);
      }

      if (parseInt(element.otvirani.right, 10)) {
        const pantW = sirkaKliky / 1.75;
        const pantH = vyskaKliky / 2;
        const pantX = sirka_vnejsiho_ramu - pantW;
        const pantY = sirka_vnejsiho_ramu * 3;
        const pant2Y = element.vyska / 10 - sirka_vnejsiho_ramu * 3;
        // pant 1
        this.ctx.fillStyle = this.colors.borderColor;
        this.ctx.fillRect(pantX, pantY, pantW, pantH);
        this.ctx.fillStyle = this.colors.ramColor;
        this.ctx.fillRect(pantX + 1, pantY + 1, pantW - 2, pantH - 2);
        // pant 2
        this.ctx.fillStyle = this.colors.borderColor;
        this.ctx.fillRect(pantX, pant2Y, pantW, pantH);
        this.ctx.fillStyle = this.colors.ramColor;
        this.ctx.fillRect(pantX + 1, pant2Y + 1, pantW - 2, pantH - 2);
      }

      // Logo
      const logo = {
        width: 40 * (element.sirka / 1000),
        height: 31.5 * (element.sirka / 1000)
      };
      const center = {
        x:
          (element.sirka / 10) * index +
          element.sirka / 2 / 10 -
          logo.width / (this.okna.length * 2),
        y: element.vyska / 2 / 10 - logo.height / (this.okna.length * 2)
      };
      const imgLogo = document.querySelector(`#logo`);
      if (imgLogo !== null) {
        this.ctx.globalAlpha = 0.5;
        this.ctx.drawImage(
          imgLogo,
          center.x,
          center.y,
          logo.width / this.okna.length,
          logo.height / this.okna.length
        );
        this.ctx.globalAlpha = 1;
      }
    }
    /* eslint-enable */
  },
  props: {
    okna: {
      type: Array,
      /* eslint-disable */
      default: () => {
        return [
          {
            sirka_ramu: 14, // px
            startX: 50,
            startY: 0,
            sirka: 1000, // mm
            vyska: 600, // mm
            // otvirani: 'RT', // trbl
            otvirani: {
              top: 1,
              right: 1,
              bottom: 0,
              left: 0
            },
            pocetMriziVertikalnich: 3,
            pocetMriziHorizontalnich: 2,
            sirkaMrizi: 4, // px
            sitka: 1, // 0/1
            zaluzie: 1, // 0/1
            pricka: 0, // 0/1
            texture: 0,
            textureImage: null
          }
        ];
      }
      /* eslint-enable */
    }
  },
  data() {
    return {
      canvasId: "konfigurace",
      ctx: null,
      canvas: null,
      settings: {
        velikost: 200
      },
      colors: {
        borderColor: "#8b8b8b",
        ramColor: "#f4f3f4",
        glassColor: "#bbeefc",
        mrizeColor: "#f7f7f7"
      },
      textures: [
        {
          src: "http://konfigurator.rozklad.me/static/colors/00_bila.png",
          id: "bila"
        },
        {
          src: "http://konfigurator.rozklad.me/static/colors/01_zlaty_dub.png",
          id: "zlaty-dub"
        },
        {
          src: "http://konfigurator.rozklad.me/static/colors/02_tmavy_dub.png",
          id: "tmavy-dub"
        },
        {
          src: "http://konfigurator.rozklad.me/static/colors/03_orech.png",
          id: "orech"
        },
        {
          src: "http://konfigurator.rozklad.me/static/colors/04_cokoladova.png",
          id: "cokoladova"
        },
        {
          src: "http://konfigurator.rozklad.me/static/colors/05_mahagon.png",
          id: "mahagon"
        },
        {
          src:
            "http://konfigurator.rozklad.me/static/colors/06_svetle_seda.png",
          id: "svetle-seda"
        },
        {
          src: "http://konfigurator.rozklad.me/static/colors/07_antracit.png",
          id: "antracit"
        },
        {
          src: "http://konfigurator.rozklad.me/static/colors/08_kremova.png",
          id: "kremova"
        },
        {
          src: "http://konfigurator.rozklad.me/static/colors/09_cervena.png",
          id: "cervena"
        },
        {
          src:
            "http://konfigurator.rozklad.me/static/colors/10_svetle_modra.png",
          id: "svetle-modra"
        },
        {
          src:
            "http://konfigurator.rozklad.me/static/colors/11_tmave_modra.png",
          id: "tmave-modra"
        },
        {
          src: "http://konfigurator.rozklad.me/static/colors/12_zelena.png",
          id: "zelena"
        },
        {
          src:
            "http://konfigurator.rozklad.me/static/colors/13_seda_hladka.png",
          id: "seda-hladka"
        },
        {
          src: "http://konfigurator.rozklad.me/static/colors/14_oregon.png",
          id: "oregon"
        },
        {
          src: "http://konfigurator.rozklad.me/static/colors/15_winchester.png",
          id: "winchester"
        },
        {
          src: "http://konfigurator.rozklad.me/static/colors/16_tresen.png",
          id: "tresen"
        },
        {
          src:
            "http://konfigurator.rozklad.me/static/colors/17_antracit_hladky.png",
          id: "antracit-hladky"
        }
      ]
    };
  }
};
</script>

<style lang="scss">
.control {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  width: 300px;
  border-left: 1px solid #eee;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  overflow-y: auto;
  overflow-x: hidden;
}

#konfigurace {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.control__group {
  display: flex;
  width: 100%;
  & > div {
    flex: 1;
  }
  padding-top: 10px;
  padding-bottom: 10px;
  .control__label {
    padding-right: 10px;
    font-weight: bold;
    min-width: 100px;
  }
  .control__help {
    max-width: 60px;
    padding-left: 10px;
    color: #ccc;
  }
  .control__value input {
    width: 100%;
  }
}

.control .btn {
  width: 100%;
  transition: all 0.3s;
  &:hover {
    background-color: #000;
    color: #fff;
  }
}

.textures {
  display: none;
}

.control__okno {
  border: 1px solid #eee;
  padding: 0 10px 10px 10px;
  margin-bottom: 10px;
}

.control__textures {
  display: flex;
  flex-wrap: wrap;
  .texture {
    flex: 1;
    width: 20%;
    max-width: 20%;
    min-width: 20%;
    padding: 2px;
    border: 1px solid #eee;
    cursor: pointer;
    img {
      width: 100%;
      height: auto;
    }
    &:hover,
    &.active {
      border: 1px solid #999;
    }
  }
}
</style>
