<template>
  <div class="container">
    <h2 class="headline--padded text-center" v-html="$t('sizeTitle')"></h2>
    <div class="cols" v-if="variations.length > 0">
      <div class="bumper-left">

      </div>
      <div class="form--mini">
        <div class="form-row form-row--padded cols">
          <div class="form--mini__cell">
            <!-- Complex field -->
            <div class="complex-field complex-field--compact">
              <div class="complex-field__icon">
                <i class="icon icon-arrow_horizontal icon--blue icon--lg"></i>
              </div>
              <div class="complex-field__field">
                <label for="width" v-html="$t('widthLabel')"></label>
                <div class="input-group input-group--lg">
                  <input
                  v-model="width"
                  placeholder="1150"
                  type="text"
                  class="input input--lg input--rounded"
                  id="width">
                  <span class="input-group__suffix">mm</span>
                </div>
                <p class="help-block"
                v-html="$t('widthHelp', { min: widthMin, max: widthMax })">
                </p>
              </div>
            </div>
          </div>
          <div class="form--mini__cell">
            <!-- Complex field -->
            <div class="complex-field complex-field--compact">
              <div class="complex-field__icon">
                <i class="icon icon-arrow_vertical icon--blue icon--lg"></i>
              </div>
              <div class="complex-field__field">
                <label for="height" v-html="$t('heightLabel')"></label>
                <div class="input-group input-group--lg">
                  <input
                  v-model="height"
                  placeholder="1150"
                  type="text"
                  class="input input--lg input--rounded"
                  id="height">
                  <span class="input-group__suffix">mm</span>
                </div>
                <p class="help-block"
                v-html="$t('heightHelp', { min: heightMin, max: heightMax })">
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="form-row form-row--padded text-center">
          <button
          @click="confirm"
          class="btn btn--lg btn--primary btn--rounded"
          :class="[{ 'disabled' : variationsLoaded && !isConfirmReady() }]"
          v-html="$t('confirmSize')"></button>
        </div>
      </div>
      <div class="bumper-right">
        <div class="tooltip tooltip--big cols align-center">
          <div class="tooltip__icon">
            <i class="icon icon-info"></i>
          </div>
          <div class="tooltip__content" v-html="$t('heightTooltip')">
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState } from "vuex";
import { createHelpers } from "vuex-map-fields";

const { mapFields } = createHelpers({
  getterType: "getCurrentCartField",
  mutationType: "updateCurrentCartField"
});

export default {
  name: "Home",
  computed: {
    ...mapState({
      variationsLoaded: state => state.variations.loaded,
      variations: state => state.variations.variations
    }),
    ...mapFields("cart", ["size.width", "size.height"]),
    heightMin() {
      if (!this.variationsLoaded) {
        return 0;
      }
      return this.propertyLimit(this.variations, "height", "min");
    },
    heightMax() {
      if (!this.variationsLoaded) {
        return 0;
      }
      return this.propertyLimit(this.variations, "height", "max");
    },
    widthMin() {
      if (!this.variationsLoaded) {
        return 0;
      }
      return this.propertyLimit(this.variations, "width", "min");
    },
    widthMax() {
      if (!this.variationsLoaded) {
        return 0;
      }
      return this.propertyLimit(this.variations, "width", "max");
    }
  },
  methods: {
    isConfirmReady() {
      if (
        this.width >= this.widthMin &&
        this.width <= this.widthMax &&
        this.height >= this.heightMin &&
        this.height <= this.heightMax
      ) {
        return true;
      }
      return false;
    },
    confirm() {
      if (this.isConfirmReady()) {
        this.$router.push({ name: "variation" });
      }
    }
  }
};
</script>