<template>
  <div class="container">
    <h2 class="headline--padded text-center" v-html="$t('accessories.title')"></h2>
    <div class="cols padded--bottom justify-center wizard-accessories-main">
      <div v-for="(accessory, index) in accessoryTypes"
      v-bind:key="index"
      class="color_face">
        <div v-if="!(accessory === 'handle' && !hasHandle(variation))">

        <h3 class="text-center color__face__title" v-html="$t(`accessories.${accessory}`)"></h3>
        <div class="color_face__preview accessory__preview">
          <img :src="getStorageUrl(`/static/accessories/${accessory}.png`)">
        </div>

        <div class="color_face__palette align-center justify-center accessory__color"
        v-if="selected(accessory) !== false && selected(accessory).color">
          <div class="color_face__palette__image accessory__color__preview"
            v-if="selected(accessory)
            && selected(accessory).color
            && selected(accessory).color.color
            && selected(accessory).color.color.image
            && selected(accessory).color.color.image.length">
              <img :src="getStorageUrl(selected(accessory).color.color.image)">
          </div>
          <div class="color_face__palette__image accessory__color__preview"
          v-else-if="selected(accessory)
          && selected(accessory).color
          && selected(accessory).color.image
          && selected(accessory).color.image.length">
            <img :src="getStorageUrl(selected(accessory).color.image)">
          </div>
          <div class="color_face__palette__about" v-if="selected(accessory)
          && selected(accessory).color">
            <span @click="removeAccessory(accessory)" class="icon icon-delete delete"></span>
            <h4 class="color_face__palette__title accessories_title"
            v-html="selected(accessory).color.name"></h4>
            <p class="color_face__palette__property accessories_property"
            v-if="selected(accessory).width" v-html="buildSentence('width', accessory)"></p>
            <p class="color_face__palette__property accessories_property"
            v-if="selected(accessory).height" v-html="buildSentence('height', accessory)"></p>
            <p class="color_face__palette__property accessories_property"
            v-if="selected(accessory).length" v-html="buildSentence('length', accessory)"></p>
            <p class="color_face__palette__property accessories_property"
            v-if="selected(accessory).depth" v-html="buildSentence('depth', accessory)"></p>
            <p class="color_face__palette__property accessories_property"
            v-if="selected(accessory).color && selected(accessory).color.covers"
            v-html="$t(`accessories.property.covers`,
            { value: selected(accessory).color.covers })"></p>
            <div class="color_face__palette__price" v-if="accessory !== 'handle'
            && accessory !== 'blind'"
              v-html="$t(`priceNoVatPlus`,
              { value: currencyFormatNum(selected(accessory).color.price) })">
            </div>
            <div class="color_face__palette__price" v-else-if="accessory === 'handle'"
              v-html="$t(`priceNoVatPlus`,
              { value: currencyFormatNum(getInCzk(applyDiscount(selected(accessory).color.price,
               'variations'), 'EUR')) })">
            </div>
            <div class="color_face__palette__price" v-else
              v-html="$t(`priceNoVatPlus`,
              { value: currencyFormatNum(getInCzk(selected(accessory).color.price, 'EUR')) })">
            </div>
          </div>
        </div>

        <button
        v-if="selected(accessory) !== false && selected(accessory).color"
        type="button"
        @click="pick(accessory)"
        class="btn btn--lg btn--primary btn--rounded"
        v-html="$t(`accessories.button_change`)"></button>
        <button
        v-else
        type="button"
        @click="pick(accessory)"
        class="btn btn--lg btn--primary btn--rounded"
        v-html="$t(`accessories.button`)"></button>

        <div class="tooltip profile__tooltip" v-if="selected(accessory)">
          <div class="cols--mini align-center cols--mini--accessory"
          @click="$router.push({ name: 'accessoryInfo',
          params: { accessory, id: selected(accessory).color.id } })">
            <i class="icon icon-info"></i><span>{{ $t('accessoryTooltipLabel') }}</span>
          </div>
        </div>
      </div>

      </div>
    </div>
  </div>
</template>

<script>
import { mapState } from "vuex";
import { createHelpers } from "vuex-map-fields";

const { mapFields } = createHelpers({
  getterType: "getCurrentCartField",
  mutationType: "updateCurrentCartField"
});

export default {
  name: "WizardAccessories",
  data() {
    return {
      accessoryTypes: [
        "inner",
        "outer",
        // 'blind',
        "handle"
      ]
    };
  },
  computed: {
    ...mapState({
      accessoryProducts: state => state.accessories.products
    }),
    ...mapFields("cart", [
      "size.width",
      "size.height",
      "variation",
      "accessories",
      "accessories.handle",
      "accessories.inner",
      "accessories.outer",
      "accessories.blind"
    ])
  },
  methods: {
    removeAccessory(type) {
      this.accessories[type] = null;
      /*
      const settings = {
        accessory: null,
        type,
      };
      this.$store.commit('selectAccessory', settings);
      */
    },
    buildSentence(property, accessory) {
      const value = this.selected(accessory)[property];
      return this.$t(`accessories.property.${property}`, { value });
    },
    selected(accessory) {
      if (typeof this[accessory] !== "undefined" && this[accessory] !== null) {
        return this[accessory];
      }
      return false;
    },
    pick(accessory) {
      this.$router.push({
        name: "accessoriesPicker",
        params: { accessory }
      });
    },
    selectFirstHandle() {
      if (
        this.accessoryProducts.handle &&
        this.accessoryProducts.handle[0] &&
        this.handle === null
      ) {
        const product = this.accessoryProducts.handle[0];
        this.handle = {
          color: product
        };
      }
    }
  },
  mounted() {
    this.$store.dispatch("loadAccessories", {
      type: "handle",
      callback: () => {
        this.selectFirstHandle();
      }
    });
    this.$store.dispatch("loadCurrencies");
  }
};
</script>

<style lang="scss">
.color_face {
  max-width: 350px;
  text-align: center;
  margin: 0 25px;
}

.color_face__palette {
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  text-align: left;
  & > * {
    flex: 1;
  }
}

.color_face__palette__image {
  max-width: 90px;
  text-align: center;
  img {
    max-height: 60px;
    max-width: 90px;
    height: 60px;
    width: auto;
  }
}

.color_face__palette__about {
  padding-left: 20px;
  font-size: 14px;
  font-weight: 400;
  max-width: 140px;
  h4,
  strong {
    margin: 0;
    font-weight: 400;
  }
  h4 {
    margin-bottom: 20px;
  }
}

.color__face__title {
  font-weight: 400;
  margin-top: 5px;
}

.accessory__preview {
  height: 200px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.cols--mini.cols--mini--accessory {
  max-width: 180px;
}

.accessories_property {
  margin: 0 0 5px;
  font-size: 12px;
}

.color_face__palette__title.accessories_title {
  margin: 0 0 5px;
}

.delete {
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 10px;
  width: 15px;
  height: 15px;
}

.accessory__color__preview {
  height: 60px;
  overflow: hidden;
}

.accessory__color {
  height: 140px;
}
</style>
