<template>
  <div class="container">
    <h2 class="headline--padded text-center" v-html="$t('profileTitle')"></h2>
    <div class="cols padded--bottom justify-center wizard-profile-main">
      <div v-for="(profile, index) in profiles"
      v-bind:key="index"
      class="profile"
      :class="[{ 'selected' : isSelected(profile) }]"
      @click="select(profile)">
        <div class="profile__inner">
          <div class="profile__about">
            <div class="profile__title">
              {{ profile.name }}
            </div>
            <div class="profile__image">
              <img :src="getStorageUrl(profile.image)">
            </div>
            <div class="profile__price price price--novat"
            v-html="$t(`priceNoVatPlus`,
            { value: applyDiscount(currencyFormatNum(profile.price), 'glass') })">
            </div>
          </div>
          <div class="profile__info">
            <div class="profile__property">
              <div class="profile__icon"><i class="icon icon-prostup_tepla"></i></div>
              <div class="profile__label" v-html="$t('propustnost')"></div>
              <div class="profile__value" v-html="profile.propustnost"></div>
            </div>
            <div class="profile__property">
              <div class="profile__icon"><i class="icon icon-stavebni_hloubka"></i></div>
              <div class="profile__label" v-html="$t('hloubka')"></div>
              <div class="profile__value" v-html="profile.hloubka"></div>
            </div>
            <div class="profile__property">
              <div class="profile__icon"><i class="icon icon-pocet_komor"></i></div>
              <div class="profile__label" v-html="$t('komory')"></div>
              <div class="profile__value" v-html="profile.komory"></div>
            </div>
            <div class="tooltip profile__tooltip">
              <div class="cols--mini align-center"
              @click="$router.push({ name: 'profileInfo', params: { id: profile.id } })">
                <i class="icon icon-info"></i><span>{{ $t('profileTooltipLabel') }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState } from "vuex";
import { createHelpers } from "vuex-map-fields";

const { mapFields } = createHelpers({
  getterType: "getCurrentCartField",
  mutationType: "updateCurrentCartField"
});

export default {
  name: "WizardProfile",
  data() {
    return {};
  },
  computed: {
    ...mapFields("cart", ["width", "height", "profile"]),
    ...mapState({
      profiles: state => state.profiles.profiles
    })
  },
  methods: {
    isEligible() {
      return this.width !== "" && this.height !== "";
    },
    isSelected(profile) {
      if (this.profile === null) {
        return false;
      }
      return this.profile.name === profile.name;
    },
    select(profile) {
      this.profile = profile;
    },
    isConfirmReady() {
      return this.profile !== null;
    },
    confirm() {
      if (this.isConfirmReady()) {
        this.$router.push({ name: "summary" });
      }
    },
    selectFirstProfile() {
      if (typeof this.profiles[0] !== "undefined" && this.profile === null) {
        this.select(this.profiles[0]);
      }
    }
  },
  mounted() {
    this.$store.dispatch("loadProfiles", () => {
      this.selectFirstProfile();
    });
  }
};
</script>

<style lang="scss">
</style>
