<template>
  <div class="container">
    <h2 class="headline--padded text-center" v-html="$t(`accessories.${accessory}`)"></h2>

    <span @click="close" class="icon icon-close"></span>

    <div v-if="accessory === 'inner' || accessory === 'outer'">
      <div class="cols">
        <div class="bumper-left">

        </div>
        <div class="form--mini">
          <div class="form-row form-row--padded cols">
            <div class="form--mini__cell">
              <!-- Complex field -->
              <div class="complex-field complex-field--compact">
                <div class="complex-field__icon">
                  <i class="icon icon-arrow_horizontal icon--blue icon--lg"></i>
                </div>
                <div class="complex-field__field">
                  <label for="length" v-html="$t('lengthLabel')"></label>
                  <div class="input-group input-group--lg">
                    <input
                    v-model="length"
                    type="text"
                    class="input input--lg input--rounded"
                    id="length">
                    <span class="input-group__suffix">mm</span>
                  </div>
                  <p class="help-block"
                  v-html="$t('lengthHelp', { min: lengthMin, max: lengthMax })">
                  </p>
                </div>
              </div>
            </div>
            <div class="form--mini__cell">
              <!-- Complex field -->
              <div class="complex-field complex-field--compact">
                <div class="complex-field__icon">
                  <i class="icon icon-arrow_deep icon--blue icon--lg"></i>
                </div>
                <div class="complex-field__field">
                  <label for="depth" v-html="$t('depthLabel')"></label>
                  <div class="input-group input-group--lg">
                    <input
                    v-model="depth"
                    type="text"
                    class="input input--lg input--rounded"
                    id="depth">
                    <span class="input-group__suffix">mm</span>
                  </div>
                  <p class="help-block"
                  v-html="$t('depthHelp', { min: depthMin, max: depthMax })">
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="form-row form-row--padded text-center">
            <button
            @click="confirmSize"
            class="btn btn--lg btn--primary btn--rounded"
            :class="[{ 'disabled' : !isConfirmReady() }]"
            v-html="$t('confirmSize')"></button>
          </div>
        </div>
        <div class="bumper-right">
        </div>
      </div>
    </div>
    <div v-else-if="accessory === 'blind'">
      <div class="cols">
        <div class="bumper-left">

        </div>
        <div class="form--mini">
          <div class="form-row form-row--padded cols">
            <div class="form--mini__cell">
              <!-- Complex field -->
              <div class="complex-field complex-field--compact">
                <div class="complex-field__icon">
                  <i class="icon icon-arrow_horizontal icon--blue icon--lg"></i>
                </div>
                <div class="complex-field__field">
                  <label for="width" v-html="$t('widthLabel')"></label>
                  <div class="input-group input-group--lg">
                    <input
                    v-model="width"
                    type="text"
                    class="input input--lg input--rounded"
                    id="width">
                    <span class="input-group__suffix">mm</span>
                  </div>
                  <p class="help-block"
                  v-html="$t('widthHelp', { min: widthMin, max: widthMax })">
                  </p>
                </div>
              </div>
            </div>
            <div class="form--mini__cell">
              <!-- Complex field -->
              <div class="complex-field complex-field--compact">
                <div class="complex-field__icon">
                  <i class="icon icon-arrow_vertical icon--blue icon--lg"></i>
                </div>
                <div class="complex-field__field">
                  <label for="height" v-html="$t('heightLabel')"></label>
                  <div class="input-group input-group--lg">
                    <input
                    v-model="height"
                    type="text"
                    class="input input--lg input--rounded"
                    id="height">
                    <span class="input-group__suffix">mm</span>
                  </div>
                  <p class="help-block"
                  v-html="$t('heightHelp', { min: heightMin, max: heightMax })">
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="form-row form-row--padded text-center">
            <button
            @click="confirmSize"
            class="btn btn--lg btn--primary btn--rounded"
            :class="[{ 'disabled' : !isConfirmReady() }]"
            v-html="$t('confirmSize')"></button>
          </div>
        </div>
        <div class="bumper-right">
        </div>
      </div>
    </div>

    <div class="cols padded--bottom justify-center cols--color" v-if="sizeReady">
      <div v-for="(color, index) in fittingProducts"
      v-bind:key="index"
      class="color__palette"
      :class="[{ 'selected' : selectedColor !== null && selectedColor && selectedColor.id
      && color.id && selectedColor.id === color.id }]"
      @click="select(color)">
        <h4 class="color__title">{{ color.name }}</h4>
        <div class="color__inner">
          <div class="color__inner__image">
            <img v-if="color && color.color && color.color.image" :src="getStorageUrl(color.color.image)" class="color__image">
            <img v-else-if="color.image" :src="getStorageUrl(color.image)" class="color__image">
          </div>
          <div class="color__price price price--novat"
              v-if="accessory === 'blind'"
              v-html="$t(`priceNoVatPlus`,
              { value: currencyFormat(getInCzk(color.price, 'EUR')) })">
          </div>
          <div class="color__price price price--novat"
              v-else-if="accessory === 'handle'"
              v-html="$t(`priceNoVatPlus`,
              { value:
              currencyFormat(getInCzk(applyDiscount(color.price, 'variations'), 'EUR')) })">
          </div>
          <div class="color__price price price--novat"
              v-else
              v-html="$t(`priceNoVatPlus`,
              { value: currencyFormat(color.price) })">
          </div>
        </div>
      </div>
    </div>
    <div class="form-row form-row--padded text-center" v-if="sizeReady">
      <button
      @click="confirm"
      class="btn btn--lg btn--primary btn--rounded"
      :class="[{ 'disabled' : !isSelectReady() }]"
      v-html="$t('color.picker.confirm')"></button>
    </div>
  </div>
</template>

<script>
import { mapState } from "vuex";
import { createHelpers } from "vuex-map-fields";

const { mapFields } = createHelpers({
  getterType: "getCurrentCartField",
  mutationType: "updateCurrentCartField"
});

export default {
  name: "WizardAccessoriesPicker",
  props: ["accessory"],
  computed: {
    ...mapState({
      colors: state => state.colors.colors,
      products: state => state.accessories.products,
      accessoryProducts: state => state.accessories.products
    }),
    ...mapFields("cart", [
      "variation",
      "accessories",
      "accessories.handle",
      "accessories.inner",
      "accessories.outer",
      "accessories.blind"
    ]),
    ...mapFields("cart", {
      windowWidth: "size.width",
      windowHeight: "size.height"
    }),
    fittingProducts() {
      if (this.accessory === "blind") {
        const height = Math.round(this.height / 10) * 10;
        const width = Math.round(this.width / 10) * 10;
        return this.items.filter(
          element => element.height === height && element.width === width
        );
      }
      if (this.accessory === "outer" || this.accessory === "inner") {
        const depth = Math.round(this.depth / 10) * 10;
        return this.items.filter(element => element.depth === depth);
      }
      return this.items;
    },
    items() {
      if (
        this.products[this.accessory] &&
        this.products[this.accessory].items
      ) {
        return this.products[this.accessory].items;
      }
      return this.products[this.accessory];
    },
    selected() {
      return this.$store.state.colors[this.face];
    },
    widthMin() {
      return this.propertyLimit(this.items, "width", "min");
    },
    widthMax() {
      return this.propertyLimit(this.items, "width", "max");
    },
    heightMin() {
      return this.propertyLimit(this.items, "height", "min");
    },
    heightMax() {
      return this.propertyLimit(this.items, "height", "max");
    },
    depthMin() {
      return this.propertyLimit(this.items, "depth", "min");
    },
    depthMax() {
      return this.propertyLimit(this.items, "depth", "max");
    },
    sizeReady() {
      if (
        (this.accessory === "inner" || this.accessory === "outer") &&
        this.length >= this.lengthMin &&
        this.length <= this.lengthMax &&
        this.depth >= this.depthMin &&
        this.depth <= this.depthMax &&
        this.confirmedSize
      ) {
        return true;
      }
      if (
        this.accessory === "blind" &&
        this.height >= this.heightMin &&
        this.height <= this.heightMax &&
        this.width >= this.widthMin &&
        this.width <= this.widthMax &&
        this.confirmedSize
      ) {
        return true;
      }
      if (this.accessory === "handle") {
        return true;
      }
      return false;
    }
  },
  data() {
    return {
      placeholder: "/static/colors/placeholder.png",
      lengthMin: 0,
      lengthMax: 6000,
      length: "",
      depth: "",
      height: "",
      width: "",
      confirmedSize: false,
      selectedColor: null
    };
  },
  watch: {
    width() {
      this.confirmedSize = false;
    },
    height() {
      this.confirmedSize = false;
    },
    depth() {
      this.confirmedSize = false;
    },
    length() {
      this.confirmedSize = false;
    }
  },
  methods: {
    close() {
      this.$router.push({ name: "accessories" });
    },
    select(color) {
      this.selectedColor = color;
    },
    confirmSize() {
      this.confirmedSize = true;
    },
    confirm() {
      this[this.accessory] = {
        width: this.width,
        height: this.height,
        length: this.length,
        depth: this.depth,
        color: this.selectedColor
      };
      this.$router.push({ name: "accessories" });
    },
    isConfirmReady() {
      if (
        (this.accessory === "outer" || this.accessory === "inner") &&
        this.length >= this.lengthMin &&
        this.length <= this.lengthMax &&
        this.depth >= this.depthMin &&
        this.depth <= this.depthMax
      ) {
        return true;
      }
      if (
        this.accessory === "blind" &&
        this.width >= this.widthMin &&
        this.width <= this.widthMax &&
        this.height >= this.heightMin &&
        this.height <= this.heightMax
      ) {
        return true;
      }
      return false;
    },
    isSelectReady() {
      return this.selectedColor !== null;
    }
  },
  mounted() {
    this.$store.dispatch("loadAccessories", { type: this.accessory });
    this.$store.dispatch("loadColors", () => {
      setTimeout(() => {
        if (
          this.selectedColor === null &&
          typeof this.fittingProducts[0] !== "undefined"
        ) {
          this.select(this.fittingProducts[0]);
        }
      }, 100);
    });
    // Choose default color
    if (
      this.$store.state.accessories.accessories &&
      this.$store.state.accessories.accessories[this.accessory]
    ) {
      const selected = this.$store.state.accessories.accessories[
        this.accessory
      ];
      this.depth = selected.depth;
      this.length = selected.length;
      this.width = selected.width;
      this.height = selected.height;
      this.selectedColor = selected.color;
    } else if (this.accessory === "inner") {
      this.length = this.windowWidth;
      this.depth = 250;
    } else if (this.accessory === "outer") {
      this.length = this.windowWidth;
      this.depth = 150;
    }
  }
};
</script>

<style lang="scss">
@import "@/assets/styles/variables";
.cols--color {
  flex-wrap: wrap;
}
.color__palette {
  max-width: 12.5%;
  min-width: 12.5%;
}
.color__palette {
  @media (max-width: $screen-xs-max) {
    min-width: 100%;
    max-width: 100%;
  }
}
.color__title {
  text-align: center;
}
.color__price {
  margin-top: 6px;
  text-align: center;
}
.color__inner {
  margin-left: 10px;
  margin-right: 10px;
  padding: 7px 7px 0 7px;
  border: 1px solid $border-grey;
}
.color__inner__image {
  position: relative;
  overflow: hidden;
  height: 120px;
  border: 1px solid $border-grey;
}
.selected .color__inner {
  border: 1px solid $blue;
}
.selected .color__price {
  background-color: $blue;
  color: $white;
  margin-left: -7px;
  margin-right: -7px;
  padding-left: 7px;
  padding-right: 7px;
}
.breadcrumbs-step-5 {
  .color__inner img {
    width: auto;
    max-height: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
  }
}
</style>
