<template>
  <div class="container">
    <h2 class="headline--padded text-center" v-html="$t('orderTitle')"></h2>
    <table class="table table--order">
      <thead>
        <tr>
          <th v-html="$t('table.head.productNumber')"></th>
          <th v-html="$t('table.head.image')"></th>
          <th v-html="$t('table.head.description')"></th>
          <th v-html="$t('table.head.itemPrice')"></th>
          <th v-html="$t('table.head.count')"></th>
          <th v-html="$t('table.head.price')"></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr class="table__row" v-for="(cartItem, index) in filteredFullCart" v-bind:key="index">
          <td v-html="$t('table.body.productNumber', { value: getOrderNum(index) })"></td>
          <td class="text-center">
            <Preview
            :okna="getOkna({ variation: cartItem.variation, orientation: cartItem.orientation,
            width: cartItem.size.width, height: cartItem.size.height,
            canvasWidth: 2000,
            textureImage: cartItem.windowfaces['front'] !== null ? getStorageUrl(cartItem.windowfaces['front'].image)
            : null })">
          </Preview>
            <!-- <img :src="cartItem.variation.image"> -->
          </td>
          <td>
            <p class="variation__property">
              <label class="variation__label" v-html="$t('summaryLabelName')"></label>
              <span class="variation__value">{{ cartItem.variation.type }}</span>
            </p>
            <p class="variation__property">
              <label class="variation__label" v-html="$t('summaryLabelWidth')"></label>
              <span class="variation__value">{{ cartItem.variation.width }}</span>
            </p>
            <p class="variation__property">
              <label class="variation__label" v-html="$t('summaryLabelHeight')"></label>
              <span class="variation__value">{{ cartItem.variation.height }}</span>
            </p>
            <p class="variation__property">
              <label class="variation__label" v-html="$t('summaryLabelOrientation')"></label>
              <span class="variation__value"
              v-html="$t(`summary.value.${cartItem.orientation}`)"></span>
            </p>
            <div v-if="cartItem.profile !== null">
              <p class="variation__property" v-if="cartItem.profile && cartItem.profile.name">
                <label class="variation__label" v-html="$t('profileLabel')"></label>
                <span class="variation__value">{{ cartItem.profile.name }}</span>
              </p>
            </div>
            <div v-if="cartItem.windowfaces['front'] !== null">
              <p class="variation__property"
              v-if="cartItem.windowfaces['front'] && cartItem.windowfaces['front'].name">
                <label class="variation__label" v-html="$t(`color.label.front`)"></label>
                <span class="variation__value">{{ cartItem.windowfaces['front'].name }}</span>
              </p>
            </div>
            <div v-if="cartItem.windowfaces['back'] !== null">
              <p class="variation__property"
              v-if="cartItem.windowfaces['back'] && cartItem.windowfaces['back'].name">
                <label class="variation__label" v-html="$t(`color.label.back`)"></label>
                <span class="variation__value">{{ cartItem.windowfaces['back'].name }}</span>
              </p>
            </div>
            <div v-if="cartItem.glass !== null">
              <p class="variation__property" v-if="cartItem.glass && cartItem.glass.name">
                <label class="variation__label" v-html="$t('glassLabel')"></label>
                <span class="variation__value">{{ cartItem.glass.name }}</span>
              </p>
            </div>
            <div v-for="(accessory, accessoryType) in cartItem.accessories"
            v-bind:key="accessoryType">
               <p class="variation__property"
               v-if="accessory
               && accessory.color
               && accessory.color.name">
                <label class="variation__label"
                v-html="$t(`accessories.shorts.${accessoryType}`)"></label>
                <span class="variation__value"
                v-if="(accessoryType === 'inner' || accessoryType === 'outer')
                && accessory && accessory.length && accessory.depth">
                {{ accessory.length }} &times; {{ accessory.depth }}, </span>
                <span class="variation__value"
                v-if="accessory && accessory.color">{{ accessory.color.name }}</span>
                <span v-if="accessoryType === 'handle'">
                  ({{ getNumberOfHandles(cartItem) }}&times;)
                </span>
              </p>
            </div>
            <div v-if="cartItem.accessories
            && cartItem.accessories.inner
            && cartItem.accessories.inner.color
            && cartItem.accessories.inner.color.covers">
              <p class="variation__property" v-html="$t(`accessories.shorts.inner_covers`)">
              </p>
            </div>
            <div v-if="cartItem.accessories
            && cartItem.accessories.outer
            && cartItem.accessories.outer.color
            && cartItem.accessories.outer.color.covers">
              <p class="variation__property" v-html="$t(`accessories.shorts.outer_covers`)">
              </p>
            </div>
          </td>
          <td class="text-right">
            <p class="variation__property">
              <label class="variation__label"
              v-html="currencyFormat(getVariationPrice(cartItem.variation))">
              </label>
            </p>
            <p class="variation__property">
              <label class="variation__label"
              v-html="'&nbsp;'">
              </label>
            </p>
            <p class="variation__property">
              <label class="variation__label"
              v-html="'&nbsp;'">
              </label>
            </p>
            <p class="variation__property">
              <label class="variation__label"
              v-if="cartItem.profile"
              v-html="currencyFormat(applyDiscount(cartItem.profile.price, 'glass'))">
              </label>
            </p>
            <p class="variation__property">
              <label class="variation__label"
              v-if="cartItem.windowfaces['front'] !== 0"
              v-html="currencyFormat(getDecorationPrice(cartItem, 'front'))">
              </label>
              <label v-else class="variation__label">
                &nbsp;
              </label>
            </p>
            <p class="variation__property">
              <label class="variation__label"
              v-if="cartItem.windowfaces['back'] !== 0"
              v-html="currencyFormat(getDecorationPrice(cartItem, 'back'))">
              </label>
              <label v-else class="variation__label">
                &nbsp;
              </label>
            </p>
            <p class="variation__property">
              <label class="variation__label"
              v-if="cartItem.glass && cartItem.glass.price !== 0"
              v-html="currencyFormat(getInCzk(applyDiscount(
                getGlassPriceOfItem(cartItem.variation, cartItem.glass.price),
              'glass'), 'EUR'))">
              </label>
              <label v-else class="variation__label">
                &nbsp;
              </label>
            </p>
            <p class="variation__property"
            v-if="cartItem.accessories
            && cartItem.accessories['inner']
            && cartItem.accessories['inner'].color
            && cartItem.accessories['inner'].color.name">
              <label class="variation__label"
              v-if="cartItem.accessories['inner']
              && cartItem.accessories['inner'].color
              && cartItem.accessories['inner'].color.price !== 0"
              v-html="currencyFormat(cartItem.accessories['inner'].color.price)">
              </label>
              <label v-else class="variation__label">
                &nbsp;
              </label>
            </p>
            <p class="variation__property"
            v-if="cartItem.accessories
            && cartItem.accessories['outer']
            && cartItem.accessories['outer'].color
            && cartItem.accessories['outer'].color.name">
              <label class="variation__label"
              v-if="cartItem.accessories['outer']
              && cartItem.accessories['outer'].color
              && cartItem.accessories['outer'].color.price !== 0"
              v-html="currencyFormat(cartItem.accessories['outer'].color.price)">
              </label>
              <label v-else class="variation__label">
                &nbsp;
              </label>
            </p>
            <p class="variation__property"
            v-if="cartItem.accessories
            && cartItem.accessories['blind']
            && cartItem.accessories['blind'].color
            && cartItem.accessories['blind'].color.name">
              <label class="variation__label"
              v-if="cartItem.accessories['blind']
              && cartItem.accessories['blind'].color
              && cartItem.accessories['blind'].color.price !== 0"
              v-html="currencyFormat(getInCzk(cartItem.accessories['blind'].color.price, 'EUR'))">
              </label>
              <label v-else class="variation__label">
                &nbsp;
              </label>
            </p>
            <p class="variation__property"
            v-if="cartItem.accessories
            && cartItem.accessories['handle']
            && cartItem.accessories['handle'].color
            && cartItem.accessories['handle'].color.name">
              <label class="variation__label"
              v-if="cartItem.accessories['handle']
              && cartItem.accessories['handle'].color
              && cartItem.accessories['handle'].color.price !== 0"
              v-html="currencyFormat(getHandlePrice(cartItem))">
              </label>
              <label v-else class="variation__label">
                &nbsp;
              </label>
            </p>
            <p class="variation__property"
            v-if="cartItem.accessories
            && cartItem.accessories['inner']
            && cartItem.accessories['inner'].color
            && cartItem.accessories['inner'].color.name">
              <label class="variation__label"
              v-if="cartItem.accessories['inner']
              && cartItem.accessories['inner'].color
              && cartItem.accessories['inner'].color.covers !== 0"
              v-html="currencyFormat(cartItem.accessories['inner'].color.covers)">
              </label>
              <label v-else class="variation__label">
                &nbsp;
              </label>
            </p>
            <p class="variation__property"
            v-if="cartItem.accessories
            && cartItem.accessories['outer']
            && cartItem.accessories['outer'].color
            && cartItem.accessories['outer'].color.name">
              <label class="variation__label"
              v-if="cartItem.accessories['outer']
              && cartItem.accessories['outer'].color
              && cartItem.accessories['outer'].color.covers !== 0"
              v-html="currencyFormat(cartItem.accessories['outer'].color.covers)">
              </label>
              <label v-else class="variation__label">
                &nbsp;
              </label>
            </p>
          </td>
          <td>
            <input type="number"
            class="input--number"
            v-model="count">
          </td>
          <td
          v-html="$t('priceNoVat', { value: currencyFormatNum(getItemPrice(cartItem)) })">
          </td>
          <td>
            <button
            class="btn btn--lg btn--primary btn--rounded"
            :class="[{ 'disabled' : false }]"
            @click="edit(cartItem)"
            v-html="$t('edit')"></button>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="form-row form-row--padded text-center row-redo">
      <button
      class="btn btn--lg btn--primary btn--rounded"
      :class="[{ 'disabled' : false }]"
      @click="another"
      v-html="$t('addAnother')"></button>
    </div>
  </div>
</template>

<script>
import { mapState } from "vuex";
import Preview from "@/components/Preview";

export default {
  name: "WizardOrder",
  components: {
    Preview
  },
  computed: {
    ...mapState("cart", ["contents"]),
    currentIndex: {
      get() {
        return this.$store.state.cart.currentIndex;
      },
      set(value) {
        console.log(value); // eslint-disable-line
        this.$store.commit("cart/setCurrentIndex", value);
      }
    },
    filteredFullCart() {
      return this.fullCart.filter(item => {
        return item.variation !== null;
      });
    },
    fullCart() {
      return this.contents;
    }
  },
  data() {
    return {
      count: 1
    };
  },
  methods: {
    edit(cartItem) {
      this.loadToCurrent(cartItem);
      this.$router.push({ name: "home" });
    },
    getOrderNum(index) {
      return index + 1;
    },
    another() {
      this.$store.dispatch("cart/addDefaultItem");
      this.currentIndex = this.currentIndex + 1;
      this.$router.push({ name: "home" });
    }
  }
};
</script>

<style lang="scss">
@import "@/assets/styles/variables";

.table {
  width: 100%;

  thead th {
    font-weight: 300;
    font-size: 10px;
    text-align: center;
    border-bottom: 2px solid $border-grey;
    padding-bottom: 10px;
    padding-top: 10px;
    &.text-left {
      text-align: left;
    }
    &.text-right {
      text-align: right;
    }
  }

  td {
    vertical-align: middle;
  }
}

.table__row td {
  padding-top: 30px;
  padding-bottom: 20px;
  border-bottom: 2px solid $border-grey;
}

.input--number {
  width: 80px;
  height: 30px;
  border-radius: 15px;
  outline: none;
  text-align: center;
  border: 1px solid $border-grey;
}

.form-row--padded.row-redo {
  padding-top: 50px;
  padding-bottom: 50px;
  border-bottom: 2px solid $border-grey;
}

.table--order .variation__value {
  font-weight: 700;
}

.input--number {
  border: 1px solid $blue;
}

.order-item-mobile {
  padding: 20px;
}

.order-item-mobile__count,
.order-item-mobile__price,
.order-item-mobile__button,
.order-item-mobile__image {
  text-align: center;
  padding: 10px 0;
}
</style>
