<template>
  <div class="container">
    <h2 class="headline--padded text-center" v-html="$t(`color.${face}.title`)"></h2>

    <span @click="close" class="icon icon-close"></span>

    <div class="cols padded--bottom justify-center cols--color">
      <div v-for="(color, index) in colors"
      v-bind:key="index"
      class="color__palette"
      :class="[{ 'selected' : selected && selected.id === color.id }]"
      @click="select(color)">
        <h4 class="color__title">{{ color.name }}</h4>
        <div class="color__inner">
          <img :src="getStorageUrl(color.image)" class="color__image">
          <div class="color__price price price--novat"
              v-html="$t(`priceNoVatPlus`, {
                value: currencyFormatNum(getCurrentDecorationPrice(color, face)) })">
          </div>
        </div>
      </div>
    </div>
    <div class="form-row form-row--padded text-center">
      <button
      @click="confirm"
      class="btn btn--lg btn--primary btn--rounded"
      v-html="$t('color.picker.confirm')"></button>
    </div>
  </div>
</template>

<script>
import { mapState } from "vuex";
import { createHelpers } from "vuex-map-fields";

const { mapFields } = createHelpers({
  getterType: "getCurrentCartField",
  mutationType: "updateCurrentCartField"
});

export default {
  name: "WizardColorPicker",
  props: ["face"],
  computed: {
    ...mapState({
      colors: state => state.colors.colors
    }),
    ...mapFields("cart", [
      "windowfaces",
      "windowfaces.front",
      "windowfaces.back"
    ]),
    selected() {
      return this[this.face];
    }
  },
  data() {
    return {
      placeholder: "/static/colors/placeholder.png",
      availableFaces: ["front", "back"]
    };
  },
  methods: {
    close() {
      this.$router.push({ name: "color" });
    },
    select(color) {
      this[this.face] = color;
    },
    confirm() {
      this.$router.push({ name: "color" });
    }
  },
  mounted() {
    this.$store.dispatch("loadColors");
    // Choose default color
    if (this.selected === null && typeof this.colors[0] !== "undefined") {
      this.select(this.colors[0]);
    }
  }
};
</script>

<style lang="scss">
@import "@/assets/styles/variables";

.cols--color {
  flex-wrap: wrap;
}
.color__palette {
  max-width: 12.5%;
  min-width: 12.5%;
}

.color__palette {
  @media (max-width: $screen-xs-max) {
    min-width: 100%;
    max-width: 100%;
  }
}

.color__title {
  text-align: center;
}
.color__price {
  margin-top: 6px;
  text-align: center;
}
.color__inner {
  margin-left: 10px;
  margin-right: 10px;
  padding: 7px 7px 0 7px;
  border: 1px solid $border-grey;
}
.selected .color__inner {
  border: 1px solid $blue;
}
.selected .color__price {
  background-color: $blue;
  color: $white;
  margin-left: -7px;
  margin-right: -7px;
}
.color__inner img {
  width: 100%;
  height: auto;
  border: 1px solid $border-grey;
}
</style>
