<template>
    <div class="container">
    <h2 class="headline--padded text-center" v-html="$t('variationTitle')"></h2>

    <div class="tooltip tooltip--variation cols align-center hidden-xs">
      <div class="tooltip__icon">
        <i class="icon icon-info"></i>
      </div>
      <div class="tooltip__content" v-html="$t('variationTooltip')">
      </div>
    </div>

    <span @click="close" class="icon icon-close"></span>

    <div class="cols padded--bottom movable">
      <div v-if="availableVariations.length > movableSize"
        class="movable__arrow movable__arrow--left">
        <button @click="movablePrev"
        :class="[{ 'disabled' : movableOrder === 0 }]">Prev</button>
      </div>
      <div v-for="(variation, index) in availableVariations"
      v-bind:key="index"
      class="variation"
      :class="[{ 'selected' : isSelected(variation) }]"
      :style="[{ 'order' : index < movableOrder ?
      availableVariations.length + movableOrder + index
      : index + movableOrder }]"
      @click="select(variation)">
        <div class="variation__inner">
          <div class="variation__image">
            <Preview
              :okna="getOkna({ variation, orientation, width, height,
              canvasWidth: 2000 })">
            </Preview>
            <!--
            <img :src="variation.image">
            -->
          </div>
          <div class="variation__about">
            <div class="variation__title">
              {{ variation.type }}
            </div>
            <div class="variation__size"
            v-html="$t('variationSize', { width: width, height: height })">
            </div>
          </div>
          <div class="variation__orientation"
            :class="[{ 'invisible' : !hasOrientation(variation) }]">
            <div class="variation__orientation__label" v-html="$t('orientation')">
            </div>
            <div class="btn-group">
              <button
              type="button"
              @click="selectOrientation('left')"
              :class="[{ 'selected' : orientation === 'left' && isSelected(variation) }]"
              v-html="$t('orientationLeftSymbol')">
              </button>
              <button
              type="button"
              @click="selectOrientation('right')"
              :class="[{ 'selected' : orientation === 'right' && isSelected(variation) }]"
              v-html="$t('orientationRightSymbol')">
              </button>
            </div>
          </div>
          <div class="variation__price price price--novat"
          v-html="$t(`priceNoVat`,
          { value: currencyFormatNum(getVariationPrice(variation)) })">
          </div>
        </div>
      </div>
      <div v-if="availableVariations.length > movableSize"
        class="movable__arrow movable__arrow--right">
        <button @click="movableNext"
        :class="[{ 'disabled' : movableOrder === movableLimit - movableSize }]">Next</button>
      </div>
      <div v-if="availableVariations.length === 0"
      class="text-center">
        Pro zadané rozměry nejsou k dispozici žádné varianty.
      </div>
    </div>
    <div class="form-row form-row--padded text-center"
    v-if="availableVariations.length > 0">
      <button
      type="button"
      @click="confirm"
      class="btn btn--lg btn--primary btn--rounded"
      :class="[{ 'disabled' : !isConfirmReady() }]"
      v-html="$t('confirmVariation')"></button>
    </div>
  </div>
</template>

<script>
import { mapState } from "vuex";
import { createHelpers } from "vuex-map-fields";
import Preview from "@/components/Preview";

const { mapFields } = createHelpers({
  getterType: "getCurrentCartField",
  mutationType: "updateCurrentCartField"
});

export default {
  name: "Variation",
  components: {
    Preview
  },
  data() {
    return {
      movableOrder: 0
    };
  },
  computed: {
    ...mapState({
      variationsLoaded: state => state.variations.loaded,
      variations: state => state.variations.variations
    }),
    ...mapFields("cart", [
      "size.width",
      "size.height",
      "variation",
      "orientation"
    ]),
    availableVariations() {
      return this.variations.filter(element => {
        if (
          parseInt(element.width, 10) ===
            this.roundToUpperHundred(parseInt(this.width, 10)) &&
          parseInt(element.height, 10) ===
            this.roundToUpperHundred(parseInt(this.height, 10))
        ) {
          return true && this.fitMinimalForVariation(element);
        }
        return false;
      });
    },
    movableLimit() {
      return this.availableVariations.length;
    },
    movableSize() {
      return 4;
    }
  },
  methods: {
    fitMinimalForVariation(element) {
      const collection = this.variations.filter(
        item => element.typenum === item.typenum
      );
      const minHeight = this.propertyLimit(collection, "height", "min");
      const minWidth = this.propertyLimit(collection, "width", "min");
      return (
        parseInt(this.width, 10) >= minWidth &&
        parseInt(this.height, 10) >= minHeight
      );
    },
    movablePrev() {
      if (this.movableOrder > 0) {
        this.movableOrder = this.movableOrder - 1;
      }
    },
    movableNext() {
      if (this.movableOrder < this.movableLimit - this.movableSize) {
        this.movableOrder = this.movableOrder + 1;
      }
    },
    close() {
      this.$router.go(-1);
    },
    isEligible() {
      return this.width !== "" && this.height !== "";
    },
    isSelected(variation) {
      if (this.variation === null) {
        return false;
      }
      return (
        this.variation.height === variation.height &&
        this.variation.width === variation.width &&
        this.variation.type === variation.type &&
        this.variation.price === variation.price
      );
    },
    selectOrientation(orientation) {
      this.orientation = orientation;
    },
    select(variation) {
      this.variation = variation;
    },
    isConfirmReady() {
      return this.variation !== null;
    },
    confirm() {
      if (this.isConfirmReady()) {
        this.$router.push({ name: "summary" });
      }
    }
  }
};
</script>

<style lang="scss">
@import "@/assets/styles/variables";

.variation {
  .variation__inner {
    @include easeHover;
  }
}

.tooltip--variation {
  position: absolute;
  top: 35px;
  left: 50%;
  margin-left: 230px;
  width: 275px;
  max-width: 275px;
  @media (max-width: $screen-xs-max) {
    display: none;
  }
}

.variation__about {
  height: 140px;
}
</style>