<template>
  <div class="container">
    <h2 class="headline--padded text-center" v-html="$t('glass.title')"></h2>
    <div class="cols padded--bottom movable">
      <div v-if="glasses.length > movableSize"
        class="movable__arrow movable__arrow--left">
        <button @click="movablePrev"
        :class="[{ 'disabled' : movableOrder === 0 }]">Prev</button>
      </div>
      <div v-for="(glass, index) in glasses"
      v-bind:key="index"
      class="glass_wrapper"
      @click="select(glass)"
      :style="[{ 'order' : index < movableOrder ?
      glasses.length + movableOrder + index
      : index + movableOrder }]">
        <div class="profile glass"
        :class="[{ 'selected' : isSelected(glass) }]">
          <div class="profile__inner">
            <div class="profile__about">
              <div class="profile__title glass__title">
                {{ glass.name }}
              </div>
              <div class="profile__image glass__image">
                <img :src="getStorageUrl(glass.image)">
              </div>
              <div class="profile__price price price--novat"
              v-html="$t(`priceNoVatPlus`, { value:
              currencyFormatNum(getInCzk(getGlassPrice(glass.price), 'EUR')) })">
              </div>
            </div>
            <div class="profile__info">
              <div class="profile__property glass_property">
                <div class="profile__icon"><i class="icon icon-prostup_tepla"></i></div>
                <div class="profile__label" v-html="$t('propustnost')"></div>
              </div>
              <div class="profile__property glass__property__value">
                <div class="profile__value" v-html="glass.propustnost"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div v-if="glasses.length > movableSize"
        class="movable__arrow movable__arrow--right">
        <button @click="movableNext"
        :class="[{ 'disabled' : movableOrder === movableLimit - movableSize }]">Next</button>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState } from "vuex";
import { createHelpers } from "vuex-map-fields";

const { mapFields } = createHelpers({
  getterType: "getCurrentCartField",
  mutationType: "updateCurrentCartField"
});

export default {
  name: "WizardGlass",
  data() {
    return {
      movableOrder: 0
    };
  },
  computed: {
    ...mapState({
      glass: state => state.glass.glass,
      glasses: state => state.glass.glass
    }),
    ...mapFields("cart", {
      selected: "glass"
    }),
    movableLimit() {
      return this.glasses.length;
    },
    movableSize() {
      return 6;
    },
    glass() {
      return this.$store.state.glass.glass;
    },
    glasses() {
      return this.$store.state.glass.glass;
    }
  },
  methods: {
    movablePrev() {
      if (this.movableOrder > 0) {
        this.movableOrder = this.movableOrder - 1;
      }
    },
    movableNext() {
      if (this.movableOrder < this.movableLimit - this.movableSize) {
        this.movableOrder = this.movableOrder + 1;
      }
    },
    isSelected(glass) {
      if (this.selected === null) {
        return false;
      }
      return this.selected.id === glass.id;
    },
    select(glass) {
      this.selected = glass;
    },
    isConfirmReady() {
      return this.selected !== null;
    },
    confirm() {
      if (this.isConfirmReady()) {
        this.$router.push({ name: "WizardAccessories" });
      }
    },
    selectFirstGlass() {
      if (typeof this.glass[0] !== "undefined") {
        this.select(this.glass[0]);
      }
    }
  },
  mounted() {
    this.$store.dispatch("loadGlass", () => {
      this.selectFirstGlass();
    });
    this.$store.dispatch("loadCurrencies");
  }
};
</script>

<style lang="scss">
.glass__property__value {
  padding-left: 40px;
}

.glass__title {
  font-size: 14px;
  font-weight: 400;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  height: 50px;
}

.glass_wrapper {
  max-width: 16.666%;
  min-width: 16.666%;
}

.glass__image {
  padding-top: 30px;
  padding-bottom: 30px;
}
</style>
