<template>
  <div class="container">
    <h2 class="headline--padded text-center" v-html="$t('profileInfoTitle')"></h2>

    <span @click="close" class="icon icon-close"></span>

    <div class="profile__detail" v-html="profile.details"></div>
  </div>
</template>

<script>
import { mapState } from "vuex";

export default {
  name: "WizardProfileInfo",
  computed: {
    ...mapState({
      profiles: state => state.profiles.profiles
    }),
    profile() {
      return this.profiles.find(
        element => element.id === this.$route.params.id
      );
    }
  },
  methods: {
    close() {
      this.$router.push({ name: "WizardProfile" });
    }
  }
};
</script>

<style lang="scss">
</style>
