<template>
  <div class="container">
    <h2 class="headline--padded text-center" v-html="$t('sizeTitle')"></h2>

    <div class="cols" v-if="this.variations.length > 0">
      <div class="bumper-left">

      </div>
      <div class="form--mini">
        <div class="form-row form-row--padded cols">
          <div class="form--mini__cell">
            <!-- Complex field -->
            <div class="complex-field complex-field--compact">
              <div class="complex-field__icon">
                <i class="icon icon-arrow_horizontal icon--blue icon--lg"></i>
              </div>
              <div class="complex-field__field">
                <label for="width" v-html="$t('widthLabel')"></label>
                <div class="input-group input-group--lg">
                  <input
                  v-model="width"
                  type="text"
                  class="input input--lg input--rounded"
                  id="width">
                  <span class="input-group__suffix">mm</span>
                </div>
                <p class="help-block"
                v-html="$t('widthHelp', { min: widthMin, max: widthMax })">
                </p>
              </div>
            </div>
          </div>
          <div class="form--mini__cell">
            <!-- Complex field -->
            <div class="complex-field complex-field--compact">
              <div class="complex-field__icon">
                <i class="icon icon-arrow_vertical icon--blue icon--lg"></i>
              </div>
              <div class="complex-field__field">
                <label for="height" v-html="$t('heightLabel')"></label>
                <div class="input-group input-group--lg">
                  <input
                  v-model="height"
                  type="text"
                  class="input input--lg input--rounded"
                  id="height">
                  <span class="input-group__suffix">mm</span>
                </div>
                <p class="help-block"
                v-html="$t('heightHelp', { min: heightMin, max: heightMax })">
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="form-row form-row--padded text-center">
          <button
          @click="backToVariation"
          class="btn btn--lg btn--primary btn--rounded"
          :class="[{ 'disabled' : !isConfirmSizeReady() }]"
          v-html="$t('confirmSize')"></button>
        </div>
      </div>
      <div class="bumper-right">
        <div class="tooltip tooltip--big cols align-center">
          <div class="tooltip__icon">
            <i class="icon icon-info"></i>
          </div>
          <div class="tooltip__content" v-html="$t('heightTooltip')">
          </div>
        </div>
      </div>
    </div>

    <div class="cols padded--bottom justify-center">
      <div v-for="(variation, index) in selectedVariations"
      v-bind:key="index"
      class="variation-preview align-center"
      @click="select(variation)">
        <div class="variation-preview__image">
          <Preview
              :okna="getOkna({ variation, orientation, width, height,
              canvasWidth: 1200 })">
            </Preview>
          <!--
          <img :src="variation.image">
          -->
        </div>
        <div class="variation-preview__about">
          <div class="variation__title">
            {{ variation.type }}
          </div>
          <p class="variation__property">
            <label class="variation__label" v-html="$t('summaryLabelWidth')"></label>
            <span class="variation__value">{{ width }}</span>
          </p>
          <p class="variation__property">
            <label class="variation__label" v-html="$t('summaryLabelHeight')"></label>
            <span class="variation__value">{{ height }}</span>
          </p>
          <div class="variation__orientation"
            :class="[{ 'invisible' : !hasOrientation(variation) }]">
            <div class="variation__orientation__label" v-html="$t('orientation')">
            </div>
            <div class="btn-group">
              <button
              type="button"
              @click="selectOrientation('left')"
              :class="[{ 'selected' : orientation === 'left' && isSelected(variation) }]"
              v-html="$t('orientationLeftSymbol')">
              </button>
              <button
              type="button"
              @click="selectOrientation('right')"
              :class="[{ 'selected' : orientation === 'right' && isSelected(variation) }]"
              v-html="$t('orientationRightSymbol')">
              </button>
            </div>
          </div>
          <div class="variation__price price price--novat"
          v-html="$t(`priceNoVat`, { value: currencyFormatNum(
            getInCzk(applyDiscount(variation.price, 'variations'), 'EUR')) })">
          </div>
        </div>
      </div>
    </div>
    <div class="form-row form-row--padded text-center">
      <button
      type="button"
      @click="backToVariation"
      class="btn btn--lg btn--primary btn--rounded"
      :class="[{ 'disabled' : !isConfirmReady() }]"
      v-html="$t('changeVariation')"></button>
    </div>
  </div>
</template>

<script>
import { mapState } from "vuex";
import { createHelpers } from "vuex-map-fields";
import Preview from "@/components/Preview";

const { mapFields } = createHelpers({
  getterType: "getCurrentCartField",
  mutationType: "updateCurrentCartField"
});

export default {
  name: "Summary",
  components: { Preview },
  data() {
    return {};
  },
  computed: {
    ...mapState({
      variationsLoaded: state => state.variations.loaded,
      variations: state => state.variations.variations
    }),
    ...mapFields("cart", [
      "size.width",
      "size.height",
      "variation",
      "orientation"
    ]),
    heightMin() {
      return this.propertyLimit(this.variations, "height", "min");
    },
    heightMax() {
      return this.propertyLimit(this.variations, "height", "max");
    },
    widthMin() {
      return this.propertyLimit(this.variations, "width", "min");
    },
    widthMax() {
      return this.propertyLimit(this.variations, "width", "max");
    },
    selected() {
      return this.variation;
    },
    availableVariations() {
      return this.variations.filter(element => {
        if (
          element.width ===
            this.roundToUpperHundred(parseInt(this.width, 10)) &&
          element.height === this.roundToUpperHundred(parseInt(this.height, 10))
        ) {
          return true;
        }
        return false;
      });
    },
    selectedVariations() {
      return this.availableVariations.filter(element => {
        return this.isSelected(element);
      });
    }
  },
  methods: {
    isEligible() {
      return this.width !== "" && this.height !== "";
    },
    isSelected(variation) {
      if (this.variation === null) {
        return false;
      }
      return (
        this.variation.height === variation.height &&
        this.variation.width === variation.width &&
        this.variation.type === variation.type &&
        this.variation.price === variation.price
      );
    },
    selectOrientation(orientation) {
      this.orientation = orientation;
    },
    select(variation) {
      this.variation = variation;
    },
    isConfirmSizeReady() {
      if (
        this.width >= this.widthMin &&
        this.width <= this.widthMax &&
        this.height >= this.heightMin &&
        this.height <= this.heightMax
      ) {
        return true;
      }
      return false;
    },
    isConfirmReady() {
      return this.variation !== null;
    },
    backToVariation() {
      this.$router.push({ name: "Variation" });
    },
    confirm() {}
  },
  mounted() {
    if (!this.isEligible()) {
      this.$router.push({ name: "Home" });
    }
  }
};
</script>

<style lang="scss">
@import "@/assets/styles/variables";

.variation-preview {
  padding-top: 40px;
  display: flex;
  flex: initial !important;

  & > * {
    flex: initial !important;
  }

  .variation__title {
    margin-bottom: 10px;
  }

  .variation__title,
  .price {
    font-size: 14px;
    font-weight: 400;
    color: $font-color;
  }
}

.variation-preview__image {
  max-width: 140px;
  min-width: 140px;

  img {
    width: 100%;
    height: auto;
  }
}

.variation__orientation {
  padding: 20px 0;
  .variation__orientation__label {
    display: inline-block;
  }
  .btn-group {
    display: inline-block;
  }
}
</style>
