<template>
  <div class="container">
    <h2 class="headline--padded text-center" v-html="$t('colorTitle')"></h2>
    <div class="cols padded--bottom justify-center wizard-colors-main">
      <div v-for="(face, index) in availableFaces"
      v-bind:key="index"
      class="color_face"
      @click="selectFace(face)">
        <div class="color_face__preview" v-if="selected(face)">
          <Preview
            :okna="getOkna({ variation, orientation : face === 'front' ? orientation : 'none',
            width, height,
            canvasWidth: 2600, textureImage: selected(face).image })">
          </Preview>
          <!--
          <img :src="selected(face)[`image_${faceImageAlias(face)}`]">
          -->
        </div>
        <div class="color_face__preview" v-else>
          <Preview
            :okna="getOkna({ variation, orientation, width, height,
            canvasWidth: 2600 })">
          </Preview>
          <!--
          <img :src="placeholder">
          -->
        </div>
        <h3 class="text-center color__face__title" v-html="$t(`color.title.${face}`)"></h3>
        <div class="color_face__palette align-center justify-center" v-if="selected(face)">
          <div class="color_face__palette__image">
            <img :src="getStorageUrl(selected(face).image)">
          </div>
          <div class="color_face__palette__about">
            <h4 class="color_face__palette__title" v-html="selected(face).name"></h4>
            <div class="color_face__palette__price"
              v-html="$t(`priceNoVatPlus`, {
                value: currencyFormatNum(getCurrentDecorationPrice(selected(face), face)) })">
            </div>
          </div>
        </div>
        <button
        v-if="!selected(face)"
        type="button"
        @click="confirm"
        class="btn btn--lg btn--primary btn--rounded"
        v-html="$t(`color.choose.${face}`)"></button>
        <button
        v-if="selected(face)"
        type="button"
        @click="confirm"
        class="btn btn--lg btn--primary btn--rounded"
        v-html="$t(`color.edit.${face}`)"></button>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState } from "vuex";
import { createHelpers } from "vuex-map-fields";
import Preview from "@/components/Preview";

const { mapFields } = createHelpers({
  getterType: "getCurrentCartField",
  mutationType: "updateCurrentCartField"
});

export default {
  name: "WizardColor",
  components: { Preview },
  data() {
    return {
      placeholder: "/static/colors/placeholder.png",
      availableFaces: ["front", "back"]
    };
  },
  computed: {
    ...mapState({
      colors: state => state.colors.colors
    }),
    ...mapFields("cart", [
      "size.width",
      "size.height",
      "orientation",
      "variation",
      "windowfaces"
    ])
  },
  methods: {
    faceImageAlias(face) {
      if (face === "front") {
        return "inner";
      }
      return "outer";
    },
    selectFace(face) {
      this.$router.push({ name: "colorPicker", params: { face } });
    },
    selected(face) {
      return this.windowfaces[face];
    },
    confirm() {},
    selectFirstColor() {
      if (typeof this.colors[0] !== "undefined") {
        this.availableFaces.forEach(face => {
          if (
            typeof this.selected(face) === "undefined" ||
            this.selected(face) === null
          ) {
            this.$store.commit("selectColor", { color: this.colors[0], face });
          }
        });
      }
    }
  },
  mounted() {
    this.$store.dispatch("loadColors", () => {
      this.selectFirstColor();
    });
    this.$store.dispatch("loadCurrencies");
  }
};
</script>

<style lang="scss">
.color_face {
  max-width: 350px;
  text-align: center;
  margin: 0 25px;
}

.color_face__preview img {
  max-width: 100%;
  height: auto;
}

.color_face__palette {
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  text-align: left;
  & > * {
    flex: 1;
  }
}

.color_face__palette__image {
  max-width: 90px;

  img {
    width: 100%;
    height: auto;
  }
}

.color_face__palette__about {
  padding-left: 20px;
  font-size: 14px;
  font-weight: 400;
  max-width: 140px;
  h4,
  strong {
    margin: 0;
    font-weight: 400;
  }
  h4 {
    margin-bottom: 20px;
  }
}

.color__face__title {
  font-weight: 400;
  margin-top: 5px;
}
</style>
