<template>
  <div id="app" class="wrapper"
  :class="[`wizard-step-${$route.meta.step}`, `route-path-${$route.name}`]" v-if="started">
    <Header></Header>
    <Breadcrumbs></Breadcrumbs>
    <router-view :class="routerCssClass"/>
    <Summary></Summary>
    <Footer></Footer>
  </div>
</template>

<script>
import Header from "./components/partials/Header";
import Footer from "./components/partials/Footer";
import Breadcrumbs from "./components/partials/Breadcrumbs";
import Summary from "./components/partials/Summary";

export default {
  name: "app",
  components: {
    Header,
    Footer,
    Breadcrumbs,
    Summary
  },
  computed: {
    routerCssClass() {
      return "container";
    }
  },
  created() {
    this.$store.dispatch("loadVariations");
    this.$store.dispatch("loadDiscounts");
    this.$store.dispatch("loadCurrencies");
    if (!this.currentCartItem) {
      this.$store.dispatch("cart/addDefaultItem");
    }
  }
};
</script>

<style lang="scss">
@import "./assets/styles/variables.scss";
// @import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "./assets/styles/style.scss";
</style>
