
.icon {
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 50%;
    display: inline-block;
    width: 24px;
    height: 24px;
  }
  
  .icon--lg {
    width: 40px;
    height: 40px;
  }
  
  .icon-close {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
    @media(max-width: $screen-xs-max) {
      top: 10px;
      right: 10px;
    }
  }
  
  .icon--blue {
    background-color: $blue;
  }
  
  .icon-arrow_vertical {
    background-image: url(./assets/images/arrow_vertical.png);
  }
  
  .icon-arrow_horizontal {
    background-image: url(./assets/images/arrow_horizontal.png);
  }
  
  .icon-arrow_deep {
    background-image: url(./assets/images/arrow_deep.png);
  }
  
  .icon-close {
    background-image: url(./assets/images/icon_close.png);
  }
  
  .icon-info {
    background-image: url(./assets/images/info.png);
  }
  
  .icon-delete {
    background-image: url(./assets/images/icon_delete.png);
  }
  
  .icon-pocet_komor {
    background-image: url(./assets/images/icon_pocet_komor.png);
  }
  
  .icon-prostup_tepla {
    background-image: url(./assets/images/icon_prostup_tepla.png);
  }
  
  .icon-stavebni_hloubka {
    background-image: url(./assets/images/icon_stavebni_hloubka.png);
  }
  