@import 'icons';

/**
 * Legacy styles
 */

 body {
  font-family: 'Open Sans', sans-serif;
  font-weight: $font-weight-normal;
  font-size: 12px;
  color: $font-color;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: $font-weight-bold;
}

strong {
  font-weight: 700;
}

h1 {
  font-size: 21px;
}

h2 {
  font-size: 19px;
}

h3 {
  font-size: 14px;
}

.tooltip {
  font-style: italic;
  font-weight: 300;
  font-size: $font-size-small;
}

.headline--padded {
  padding-top: 15px;
  padding-bottom: 25px;
  @media(max-width: $screen-xs-max) {
    padding-top: 25px;
  }
}

// Style
* {
  box-sizing: border-box;
}

.wrapper {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  & > * {
    flex: 1;
  }

  & > .header {
    max-height: 70px;
    @media (max-width: $screen-xs-max) {
      max-height: 100vh;
    }
  }
  & > .breadcrumbs {
    max-height: 40px;
  }
  & > .summary {
    max-height: 130px;
    @media(max-width: $screen-xs-max) {
      max-height: 100vh;
    }
  }
  & > .footer {
    max-height: 0;
  }
}

button {
  background-color: transparent;
  appearance: none;
  border: 0;
}

.container {
  width: 100%;
  max-width: 1250px;
  text-align: left;
  margin: 0 auto;
}

.cols {
  display: flex;
  & > * {
    flex: 1 0 auto;
  }
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.self-center {
  align-self: center;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

button {
  outline: none;
}

$btn-lg-height: 50px;

.btn {
  font-size: 14px;
  border: 1px solid $grey;
  border-radius: 6px;
  line-height: 36px;
  padding: 0 20px;
  cursor: pointer;
}

.btn--primary {
  background-color: $blue;
  color: $white;
  transition: background-color 0.3s;

  &:hover {
    background-color: lighten($blue, 20%);
  }
}

.btn--lg {
  line-height: $btn-lg-height;

  &.btn--rounded {
    border-radius: $btn-lg-height/2;
  }
}

.btn--arrow {
  padding-right: 40px;
  position: relative;

  &:after {
    content: "";
    display: block;
    position: absolute;
    right: 10px;
    top: 50%;
    width: 12px;
    height: 22px;
    transform: translateY(-50%);
    background-image: url(./assets/images/btn_arrow.png);
    background-repeat: no-repeat;
    background-position: center center;
  }

  &.btn--back {
    padding-right: 20px;
    padding-left: 40px;
    &:after {
      transform: translateY(-50%) rotate(-180deg);
      right: auto;
      left: 10px;
    }
  }
}

$input-lg-height: 50px;
$input-lg-font-size: 20px;

.form--mini {
  max-width: 400px;
  min-width: 400px;

  @media(max-width: $screen-xs-max) {
    max-width: 100%;
    min-width: 0;

    .complex-field--compact {
      max-width: 80%;
      margin: 0 auto;
      padding-bottom: 20px;
    }

    .form-row.cols {
      flex-direction: column;
      justify-content: center;
      .form--mini__cell {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }
}

.form--mini__cell:first-child {
  padding-right: 30px;
}

.form--mini__cell:last-child {
  padding-left: 30px;
}

.complex-field {
  display: flex;
  align-items: center;
  & > * {
    flex: 1;
  }

  label,
  .help-block {
    margin: 0;
    display: block;
  }

  label {
    padding-bottom: 5px;
  }
  .help-block {
    padding-top: 5px;
  }
}

.complex-field--compact {
  max-width: 170px;
}

.complex-field__icon {
  max-width: 50px;
  min-width: 50px;
}

.complex-field__field {
  text-align: center;
}

.input-group {
  position: relative;
}

.input-group__suffix {
  position: absolute;
  top: 0;
  right: 0;
}

.input-group--lg {
  .input-group__suffix {
    line-height: $input-lg-height;
    font-size: $input-lg-font-size;
    padding-right: 20px;
  }
  .input {
    text-align: right;
    padding-right: 50px;
    font-weight: $font-weight-bold;
  }
}

.input {
  border-color: $blue;
  border-style: solid;
  outline: none;
  width: 100%;
}

.input--lg {
  border-width: 2px;
  height: $input-lg-height;
  font-size: $input-lg-font-size;

  &.input--rounded {
    border-radius: $input-lg-height/2;
  }
}

.input--rounded {
}

.input-group__suffix {
}

.tooltip {
  font-style: italic;
  font-weight: 300;
  font-size: $font-size-small;
}

.headline--padded {
  padding-top: 15px;
  padding-bottom: 25px;
  @media(max-width: $screen-xs-max) {
    padding-top: 25px;
  }
}

.form-row--padded {
  padding-top: 15px;
  padding-bottom: 15px;
}

.disabled {
  opacity: 0.2;
}

.padded--bottom {
  padding-bottom: 15px;
}

.tooltip--big {
  max-width: 110px;

  .tooltip__content {
    max-width: 75px;
  }
}

.tooltip__icon {
  max-width: 35px;
  min-width: 35px;
}

.tooltip__content {
  font-size: 10px;
}

.bumper-left,
.bumper-right {
  position: relative;
}

.bumper-right {
  .tooltip--big {
    position: absolute;
    top: 40px;
    left: 30px;
  }
}

.variation {
  min-width: 25%;
  max-width: 25%;
  cursor: pointer;
  padding-left: 8px;
  padding-right: 8px;
  @media(max-width: $screen-xs-max) {
    max-width: 100%;
    min-width: 100%;
  }
}

.variation__inner {
  font-size: 14px;
  text-align: center;
  border: 1px solid $border-grey;
}

.variation__image {
  padding-top: 10px;
}

.variation__image,
.color_face__preview {
  height: 200px;
  width: auto;
  position: relative;

  .container {
    text-align: center;
    height: 200px;
    width: auto;
  }

  canvas {
    max-height: 200px;
    width: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.variation.selected .variation__inner {
  border-color: $blue;
}

.variation__about {
  padding: 30px 40px;
  font-weight: 400;
}

.variation__orientation {
  padding-bottom: 20px;
}

.price {
  color: $blue;
  line-height: 20px;
}

.variation.selected .price {
  background-color: $blue;
  color: $white;
}

.variation__orientation__label {
  font-weight: 400;
  font-size: 12px;
  padding-bottom: 10px;
}

.movable .variation .variation__orientation__label {
  display: block;
  text-align: center;
}

.btn-group {
  button {
    border: 2px solid $border-grey;
    margin-left: 5px;
    margin-right: 5px;
    width: 25px;
    height: 25px;
    line-height: 22px;
    &.selected {
      border: 2px solid $blue;
      background-color: $blue;
      color: $white;
    }
  }
}

.variation__orientation {
  .btn-group {
    button {
      width: auto;
      line-height: 19px;
    }
  }
}

@mixin easeHover {
  transition: all ease 0.3s;
  &:hover {
    box-shadow: inset 0 0 10px 0 rgba(0, 0, 0, 0.1);
  }
}

.cols--mini {
  display: flex;
  max-width: 140px;
  & > * {
    flex: 1 0 auto;
    text-align: left;
  }
  .icon {
    max-width: 40px;
  }
}

.profile {
  margin: 8px;
  max-width: 350px;
  cursor: pointer;
}

.profile__info {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

.profile__property {
  display: flex;
  color: $grey;
  max-width: 250px;
  align-items: center;
  text-align: left;
  margin: 0 auto;
  padding-top: 5px;
  padding-bottom: 5px;

  & > * {
    flex: 1;
  }
}

.profile__title {
  font-size: 14px;
  text-align: center;
}

.profile__image {
  text-align: center;
}

.profile__label {
  max-width: 115px;
  text-transform: uppercase;
  font-size: 10px;
}

.profile__icon {
  max-width: 40px;
}

.profile__value {
}

.profile__about {
  border: 1px solid $border-grey;
  padding-top: 10px;
  position: relative;
  padding-bottom: 20px;
  @include easeHover;
}

.profile__price {
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  line-height: 20px;
}

.profile.selected {
  .profile__about {
    border-color: $blue;
  }
  .profile__price {
    background-color: $blue;
    color: $white;
  }
}

.profile__tooltip {
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  .cols--mini {
    margin: 0 auto;
  }
  & > * {
    line-height: 26px;
  }
}

.movable {
  .glass_wrapper {
    @media(max-width: $screen-xs-max) {
      max-width: 100%;
      min-width: 100%;
    }
  }
  @media(max-width: $screen-xs-max) {
    .movable__arrow {
      display: none;
    }
  }
}

.container {
  position: relative;
}

.bumper-right {
  @media (max-width: $screen-sm-max) {
    overflow: hidden;
  }
}

.route-path-WizardAccessoriesPicker > .container,
.route-path-WizardColorPicker > .container,
.route-path-WizardProfileInfo > .container,
.route-path-WizardVariation > .container,
.route-path-WizardAccessoryInfo > .container {
  background-color: #f6f6f7;
  max-width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;

  & > .container {
    background-color: $white;
    border: 1px solid #dededf;
    align-self: stretch;
    flex: 1;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
  }
}

.movable {
  overflow: hidden;
}


.cols.movable {
  padding-left: 80px;
  padding-right: 80px;
  position: relative;
  @media(max-width: $screen-xs-max) {
    padding-left: 0;
    padding-right: 0;

    flex-direction: column;
  }
}

.movable__arrow {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 80px;
  background: #fff;
  z-index: 2;
}

.movable__arrow button {
  display: block;
  appearance: none;
  border: 0;
  width: 25px;
  height: 60px;
  position: absolute;
  top: 50%;
  margin-top: -30px;
  overflow: hidden;
  font-size: 0;
  text-indent: -9999px;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}

.movable__arrow--left {
  left: 0;

  button {
    left: 45px;
    background-image: url(./assets/images/movable_left.png);
  }
}

.movable__arrow--right {
  right: 0;

  button {
    right: 45px;
    background-image: url(./assets/images/movable_right.png);
  }
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #d9d9d9;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #d9d9d9;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #d9d9d9;
}
:-moz-placeholder { /* Firefox 18- */
  color: #d9d9d9;
}

@media(max-width: $screen-xs-max) {
  .bumper-right, .bumper-left {
    display: none;
  }
  .cols.wizard-profile-main,
  .cols.wizard-colors-main,
  .cols.wizard-accessories-main {
    flex-direction: column;
  }
  .hidden-xs {
    display: none;
  }
}

@media(min-width: $screen-sm-min) {
  .visible-xs {
    display: none;
  }
}

.input-group--lg .input-group__suffix {
  font-size: 14px;
  color: #333;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.invisible {
  visibility: hidden;
}
