// Override / set color variables
$blue: #1dbcea;

$primary: $blue;

$light: #d9d9d9;
$grey: #808090;
$dark: #333;
$white: #fff;
$text: #333;
$border-grey: #f5f6f7;

$screen-xs-max: 767px;
$screen-sm-min: 768px;
$screen-sm-max: 969px;

// Typo
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300i,400,600,700&subset=latin-ext');

$font-family-sans-serif: 'Open Sans', sans-serif;

// pseudo BS
$font-weight-normal: 600;
$font-weight-bold: 600;
$font-color: #333333;
$font-size-small: 9px;

@mixin easeHover {
    transition: all ease 0.3s;
    &:hover {
        box-shadow: inset 0 0 10px 0 rgba(0, 0, 0, 0.1);
    }
}

@mixin standard {
    font-size: 12px;
    font-weight: 400;
}
  